<section class="container-auth d-flex">
  <div class="d-flex container">
      <div class="img-planet">
          <img src="./assets/img/key.png" alt="">
      </div>


      <div class="container-form">
          <div class="text-login">
              <h1>Cria a nova senha</h1>
              <p>Preencha os dados abaixo 😎</p>
          </div>
          <form  (ngSubmit)="resetPassword()" [formGroup]="resetForm" #formDir="ngForm">
              <div class="box-alerts">
                  <div class="alert alert-danger" *ngIf="errors.length > 0">
                      <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                      <ul>
                          <li *ngFor="let error of errors">{{ error }}</li>
                      </ul>
                  </div>
                  <p *ngIf="ischangeSucess == true" class="alert alert-success">Senha alterada com sucesso.</p>
              </div>
              <div class="item-form">
                  <input type="password" placeholder="Senha" formControlName="password">
                  <div class="alerts" *ngIf="password.invalid && formDir.submitted">
                      <p class="text-danger">Senha é obrigatório</p>
                  </div>
              </div>
              <div class="item-form">
                  <input type="password" placeholder="Repetir senha" formControlName="confirmPassword">
                  <div class="alerts" *ngIf="confirmPassword.invalid && formDir.submitted">
                      <p class="text-danger">Email é obrigatório</p>
                  </div>
              </div>

              <div class="button-form">
                  <button [disabled]="!resetForm.valid" type="submit" class="btn secundary">Alterar senha</button>
              </div>
              <span>Lembrou a senha ? <a routerLink="/auth">Fazer Login</a> </span>
          </form>
      </div>
  </div>
</section>

<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
