<section class="landing-conver" >
  <div ></div>
  <div class="landing-info">
    <div class="logo">
      <img src="../../../../assets/img/logo-web-menu.png" alt="">
    </div>
    <h2 class="landing-info-pretitle">Bem vindo a </h2>
    <h1 class="landing-info-title">Rype</h1>

    <p class="landing-info-text">Sua rede social gamer e comunidade, Conecte-se com seus amigos e jogue com nosso sistema de gamificação e medalhas</p>
  </div>

  <div class="landing-form">
    <div class="form-box">
      <h2 class="form-box-title">Informe sua nova senha</h2>
      <form  class="form" (ngSubmit)="resetPassword()" [formGroup]="resetForm" #formDir="ngForm">
        <div class="box-alerts">
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            <p *ngIf="ischangeSucess == true" class="alert alert-success">Senha alterada com sucesso.</p>
        </div>
        <div class="item-form">
            <input type="password" placeholder="Senha" formControlName="password">
            <div class="alerts" *ngIf="password.invalid && formDir.submitted">
                <p class="text-danger">Senha é obrigatório</p>
            </div>
        </div>
        <div class="item-form">
            <input type="password" placeholder="Repetir senha" formControlName="confirmPassword">
            <div class="alerts" *ngIf="confirmPassword.invalid && formDir.submitted">
                <p class="text-danger">Email é obrigatório</p>
            </div>
        </div>

        <div class="button-form">
            <button [disabled]="!resetForm.valid" type="submit" class="button bt-color">Alterar senha</button>
        </div>
        <div class="login">
          <span>Não tem uma conta? <a routerLink="/auth">Fazer Login</a> </span>
        </div>
    </form>

    </div>
  </div>
</section>

<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
