<div class="container-page">
  <div class="container-data">
    <div class="top-container">
      <div class="title-form p-20">
        <h3 class="">Preencha os dados para buscar os jogadores</h3>

      </div>
    </div>
    <hr>

    <div class="container-search p-20">
      <form class="d-flex-colum" (ngSubmit)="memberSearchKey()" [formGroup]="memberSearch" #formDir="ngForm">
        <div class="search-bar d-flex gap-10">
          <div class="item-form">
            <label>Nome | Nick</label>
            <div>
              <input type="text" formControlName="key" placeholder="Insira o nome do jogador, Tag Name ou ID " />

            </div>

          </div>

          <button type="submit" class="btn-search">Buscar</button>
        </div>
        <div class="alert" *ngIf="key.invalid && formDir.submitted">
          <p class="">Informar um valor é obrigatório</p>
        </div>
      </form>




      <div class="container-items-team">

        <div class="container-items">
          <div *ngFor="let member of resultSearch$ | async" class="item gap-10 ">

            <div class="imagem-item">
              <img src="{{member.url}}" alt="">
            </div>
            <div class="name-item-container">
              <div class="name-item">
                <span>{{member.name}}</span>
              </div>
            </div>
            <div class="name-item-container">
              <div class="name-item">
                <span>{{member.nickname}}</span>
              </div>
              <div class="img-country">
                <img *ngIf="member.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
                <img *ngIf="member.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
                <img *ngIf="member.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
                <img *ngIf="member.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
              </div>
            </div>
            <div *ngIf="member.team.length > 0" class="name-item-container">
              <div class="name-item">
                <span>Clan: {{member.team[0]?.name}}</span>
              </div>
            </div>
            <div class="infos-item">
              <img *ngIf="member.verify" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
              <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
              <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
              <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
            </div>
            <div>

              <button *ngIf="member.team.length == 0 " class="btn-admin option2">Enviar Solicitação</button>
            </div>


          </div>
        </div>
      </div>

    </div>



  </div>

  <div class="container-items-team">
    <div class="container-items-title">
      <span *ngIf="this.team.members.length != 0">Membros</span>
      <span *ngIf="this.team.members.length == 0">Nenhum Membro encontrado 🤷🏻‍♂️</span>
    </div>
    <div class="container-items">
      <div *ngFor="let member of this.team.members" class="item gap-10 ">

        <div class="imagem-item">
          <img src="{{member.url}}" alt="">
        </div>
        <div class="name-item-container">
          <div class="name-item">
            <span>{{member.nickname}}</span>
          </div>
          <div class="img-country">
            <img *ngIf="member.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
            <img *ngIf="member.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
            <img *ngIf="member.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
            <img *ngIf="member.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
          </div>
        </div>
        <div class="infos-item">
          <img *ngIf="member.verify" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
          <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
          <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
          <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
        </div>
        <div>
          <button (click)="promoteAdm(member)" class="btn-admin option2">Promover a Adm</button>
        </div>
        <div>
          <button (click)="removeMember(member)" class="btn-admin option1">Remover</button>
        </div>

      </div>
    </div>
  </div>

</div>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>
