<div class="container-pass">

    <div class="container-cover">
        <img src="./assets/img/account/CoverProfile.png" alt="">
    </div>
    <div class="profile-user-container">
      
        <!-- <div class="name-container">
            <h1>Seven</h1>
        </div> -->
    </div>

    <div class="container-data">
        <div class="top-container">
            <div class="title-form p-20">
                <h3 class="">Atualize sua senha</h3>

            </div>
            <div class="buttons-conteiner p-20">
                <!-- <button>Atualizar Foto</button>
                <button>Atualizar Dados</button> -->
            </div>
        </div>
        <hr>

        <div class="container-form p-20">

            <form class="d-flex-column" action="">
                <div class="item-form">
                    <label>Senha atual</label>
                    <div>
                        <input type="text"  placeholder="password" />
                        <div class="alert">
                            <p class="">Senha é obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="item-form">
                    <label>Nova Senha</label>
                    <div>
                        <input type="text"  placeholder="newpassword" />
                        <div class="alert">
                            <p class="">Nova Senha é obrigatório</p>
                        </div>
                    </div>
                </div>
                <div class="item-form">
                    <label>Confirmar nova senha</label>
                    <div>
                        <input type="text"   placeholder="confirmpassword" />
                        <div class="alert">
                            <p class="">Nova Senha é obrigatório</p>
                        </div>
                    </div>
                </div>

                <div class="bottom-container">
                    <button >Atualizar</button>
                </div>
            </form>

        </div>
    </div>

</div>