<section class="container-hub">
    <div class="container-cover-hub-account">
        <img src="./assets/img/newsfeed-icon.png" alt="">
        <h2 class="title-cover-hub">Feed</h2>
        <p class="text-cover-hub">Fique por dentro de todas as atualizações da plataforma</p>
    </div>

    <div class="grid grid-3-6-3 mobile-prefer-content">
        <div class="grid-column"></div>
        <div class="grid-column">
            <app-create-post></app-create-post>
            <app-timeline></app-timeline>
        </div>
        <div class="grid-column"></div>
    </div>
</section>