<div class="container-navbar">

  <div class="navbar-actions">
    <div class="navbar-logo">
      <img src="./assets/img/logo-navbar.png" alt="">
      <span>RYPE</span>
    </div>
    <div class="navbar-menu toggle">
     
        <span class="material-symbols-outlined">
          widgets
        </span>
    
    </div>
  </div>

  <div class="navbar-actions">
    <div class="notifications" (click)="enableNotifications()">
      <a class="d-flex link-notifications">
        <i *ngIf="!isNotifications" class='material-symbols-outlined d-flex-center icon'>notifications</i>
        <i *ngIf="isNotifications" class='material-symbols-outlined d-flex-center icon'>notifications_active</i>
      </a>
    </div>
  </div>


</div>