<div class="container-navbar">
  <div></div>
  <div class="container-user-info">
    <div class="notifications">
      <a class="d-flex link-notifications">
        <i *ngIf="!isNotifications" class='material-symbols-outlined d-flex-center icon'>notifications</i>
        <i *ngIf="isNotifications" class='material-symbols-outlined d-flex-center icon'>notifications_active</i>

      </a>
    </div>
    <h3>{{user.nickname}}</h3>
    <div class="window-img">
        <img class="img-top" src="{{url$ | async}}" alt="">
    </div>
  </div>
</div>
