<nav class="web-navbar">
    <div class="menu">
        <header>
            <img routerLink="/" class="logo1" src="../../../assets/img/logo-web-menu.png" alt="RypeApp">
            <img routerLink="/" class="logo2" src="../../../assets/img/RYPE.png" alt="RypeApp">
        </header>


        <ul id="nav-bar" class="web-menu">
            <li>
                <a routerLink="/">

                    <span class="text nav-text">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/about">
                    <span class="text nav-text">A Rype</span>
                </a>
            </li>
            <li>
                <a routerLink="/events">
                    <span class="text nav-text">Eventos</span>
                </a>
            </li>
            <li>
                <a routerLink="/trenings">
                    <span class="text nav-text">Treinos</span>
                </a>
            </li>
            <li>
                <a routerLink="/contact">
                    <span class="text nav-text">Contato</span>
                </a>
            </li>
            <div class="autentication">
                <li>
                    <button routerLink="/auth" class="btn primary"> <i class="fa fa-user-o fa-1x"></i> Entrar</button>
                </li>
                <li>
                    <button routerLink="/sing-up" class="btn secundary">Registrar</button>
                </li>

            </div>
        </ul>


    </div>
    <div class="mobile-menu">
        <i id="ham-menu" class="material-symbols-outlined">menu</i>
        <i class="fa fa-bars" ></i>
    </div>




</nav>
<!-- <header>
    <nav>
      <a href="#home" id="logo">Site Logo</a>
      <i class="fas fa-bars" id="ham-menu"></i>
      <ul id="nav-bar">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#team">Team</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header> -->