<section class="container-app">

    <section class="title-home">
        <h2>Rype sua Plataforma Gamer</h2>
        <p>Chegamos para revolucionar 😎</p>
        <a routerLink="/sing-up" class="bt-background" href="">Embarcar</a>
    </section>
    <section class="container-section">
        <div>
            <img src="../../../../assets/svg/rocket.svg" alt="">
        </div>

        <div class="text-decoration">
            <h2>Conheça nosso universo</h2>
            <p>Aqui você encontra diversas funcionalidades para elevar o seu jogo para o próximo nível, tem muita coisa
                legal, então se cadastre agora mesmo.
            </p>
        </div>

        <div class="container-items">


          
                <div class="item">
                    <div class="img-item d-flex-center">
                        <img src="../../../../assets/img/gerencie.png" alt="">
                    </div>
                    <div class="text-item">
                        <h3>GERENCIE O SEU TIME
                        </h3>
                        <p>Cadastre os membros
                            e os mantenha todos
                            informados sobre os eventos disponíveis.</p>
                    </div>
                </div>
    
            <div class="item">
                <div class="img-item d-flex-center">
                    <img src="../../../../assets/img/eventos.png" alt="">
                </div>
                <div class="text-item">
                    <h3>ORGANIZE SEUS EVENTOS
                    </h3>
                    <p>Com essa funcionalidade você pode gerenciar
                        e permitir o check-in dos participantes em
                        seus eventos de X-Treino ou Campeonatos.</p>
                </div>
            </div>
            <div class="item">
                <div class="img-item d-flex-center">
                    <img src="../../../../assets/img/organize.png" alt="">
                </div>
                <div class="text-item">
                    <h3>DIVULGUE
                    </h3>
                    <p>Além de gerenciar todas as inscrições dos eventos,
                        divulgue os seus Campeonatos e X-Treino para todos
                        os membros cadastrados em nossa Plataforma.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="about-more">
        <div class="container-about">
            <div>
                <h1>Gostou? para conheçer melhor a Rype é só clicar no botão ao lado 🚀</h1>
            </div>
            <div><button routerLink="/about" class="btn secundary">Sobre Nós</button></div>
        </div>
    </section>

    <div class="footer">
        <h3>@Rype2022/2023 - todos os diretos reservados.</h3>
    </div>

</section>