<section class="landing-conver" >
  <div ></div>
  <div class="landing-info">
    <div class="logo">
      <img src="../../../../assets/img/logo-web-menu.png" alt="">
    </div>
    <h2 class="landing-info-pretitle">Bem vindo a </h2>
    <h1 class="landing-info-title">Rype</h1>

    <p class="landing-info-text">Sua rede social gamer e comunidade, Conecte-se com seus amigos e jogue com nosso sistema de gamificação e medalhas</p>
  </div>

  <div class="landing-form">
    <div class="form-box">
      <h2 class="form-box-title">Criar Conta</h2>

      <form class="form" (ngSubmit)="addAcount()" [formGroup]="cadastroForm" #formDir="ngForm">
        <div class="box-alerts">
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            <p *ngIf="isRegisterSucess == true" class="alert alert-success">Registro realizado com sucesso.</p>
        </div>



        <div class="item-form">
            <input type="text" formControlName="nickname" placeholder="Nickname">
            <div class="alerts" *ngIf="nickname.invalid && formDir.submitted">
                <p class="text-danger">Nickname é obrigatório</p>
            </div>
        </div>
        <div class="item-form">
            <input type="text" formControlName="name" placeholder="Nome">
            <div class="alerts" *ngIf="name.invalid && formDir.submitted">
                <p class="text-danger">Nome é obrigatório</p>
            </div>
        </div>

        <div class="item-form">
            <input class="datapicker" placeholder="Data de nascimaneto"  type="date" formControlName="birthday">
            <div class="alerts" *ngIf="birthday.invalid && formDir.submitted">
                <p class="text-danger">Data de Nascimento é obrigatório</p>
            </div>
        </div>

        <div class="item-form">
            <input type="tel" mask="(00) 00000-0000" placeholder="Celular" formControlName="phone">
            <div class="alerts" *ngIf="phone.invalid && formDir.submitted">
                <p class="text-danger">Celular é obrigatório</p>

            </div>
        </div>
        <div class="item-form">
            <input type="text" placeholder="Email" formControlName="email">
            <div class="alerts" *ngIf="email.invalid && formDir.submitted">
                <p class="text-danger">Email é obrigatório</p>

            </div>
        </div>
        <div class="item-form">
            <input type="password" placeholder="Senha" formControlName="password">
            <div class="alerts" *ngIf="password.invalid && formDir.submitted">
                <p class="text-danger">Senha é obrigatório</p>
            </div>
        </div>
        <div class="container-terms">
            <input type="checkbox" formControlName="terms" value="true" />

            <p>Aceitar termos
                da plataforma
                <a routerLink="/terms" class=" link-primary">Termos</a>
            </p>

        </div>
        <div class="item-form">
            <div class="alerts" *ngIf="terms.invalid && formDir.submitted">
                <p class="text-danger">Aceitar os termos é obrigatório</p>

            </div>
        </div>

        <div class="button-form">
            <button type="submit" [disabled]="!cadastroForm.valid" class="button bt-color">Criar minha conta</button>
        </div>

        <div class="login">
          <span>já tem conta ? <a routerLink="/auth">Fazer Login</a> </span>
        </div>

    </form>
    </div>
  </div>
</section>

<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
