.container {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-dark-color);
  opacity: 0.9;
}
.c-loader {
  animation: is-rotating 1s infinite;
  border: 10px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: var(--pink);
  height: 150px;
  width: 150px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
