<div class="quick-post">
    <div class="quick-post-header">
        <div class="quick-post-option">
            <div class="quick-post-title">
                <span class="material-symbols-outlined">
                    post_add
                </span>
                <p>No que voce está pensando ?</p>

            </div>
        </div>
    </div>
    <div class="quick-post-body">
        <div class="form-content-post">
            <div *ngIf="this.istext == true">
                <app-text-post (resetPost)="clearPosts($event)"></app-text-post>
            </div>
            <div *ngIf="this.isImage == true">
                <app-image-post (resetPost)="clearPosts($event)"></app-image-post>
            </div>
            <div *ngIf="this.isVideo == true">
                <app-video-post (resetPost)="clearPosts($event)"></app-video-post>
            </div>
        </div>

        <div class="quick-post-footer">
            <div class="quick-post-footer-actions">
                <div (click)="isOnlyText()" class="action" [ngClass]="{'active-text': this.istext == true}">
                    <span class="material-symbols-outlined">
                        edit_note
                    </span>
                    <p> texto</p>
                </div>
                <div (click)="isImageUrl()" class="action" [ngClass]="{'active-img': this.isImage == true}">
                    <span class="material-symbols-outlined">
                        photo_camera
                    </span>
                    <p> Imagem</p>
                </div>
                <div (click)="isVideoYoutube()" class="action" [ngClass]="{'active-video': this.isVideo == true}">
                    <span class="material-symbols-outlined">
                        youtube_activity
                    </span>
                    <p> Youtube</p>
                </div>
            </div>
        </div>
    </div>
</div>