.dropdown-box {
  width: 354px;
  background-color: var(--admin-body);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.header-dropdown.active {
  position: fixed;
  z-index: 1000;
  top: 68px;
  right: 12px;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}

.header-dropdown {
  position: absolute;
  top: 114px;
  right: 12px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0px, -40px);
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s;
}

.dropdown-box-header {
  padding: 28px 28px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown-box-header-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.dropdown-box-list {
  height: 420px;
  overflow-y: auto;
  display: block;

  .dropdown-box-list-item:hover {
    background-color: var(--sidebar-hover);
  }

  .dropdown-box-list-item {
    display: block;
    padding: 12px 6px;

    .user-status {
      min-height: 44px;
      padding: 5px 0 0 55px;
      position: relative;
    }

    .user-status.notification {
      padding-right: 30px;
    }

    .user-status-avatar {
      position: absolute;
      top: 0;
      left: 0;

      .user-avatar-flag {
        top: 27px;
        right: -6px;
        width: 25px;
        height: 25px;
        position: absolute;
        display: flex;
        justify-content: center;
        z-index: 20;
        border-radius: 50%;
        border: 2px solid var(--admin-body);
        background-image: url(../../../assets/img/flags/icones-nofitications.png);

        .flag-platform {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -4px -32px;
        }

        .flag-team {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -4px -59px;
        }

        .flag-user {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: 24px -1px;
        }
        .flag-like {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -31px -89px;
        }
        .flag-love {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -32px -115px;
        }
        .flag-good {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -32px -143px;
        }
        .flag-omg {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -32px -170px;
        }
        .flag-pistola {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -32px -200px;
        }
        .flag-aff {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-image: url(../../../assets/img/flags/icones-nofitications.png);
          background-position: -32px -228px;
        }
      }

    }

    .item-content {
      .item-title {
        h2 {
          font-size: 1rem;
          font-weight: 700;
          color: var(--text-color);
          font-family: Rajdhani, sans-serif;
          line-height: 1em;
        }
        strong {
          font-size: 1rem;
          font-weight: 700;
          color: var(--pink-white);
          font-family: Rajdhani, sans-serif;
          line-height: 1em;
        }
      }

      .item-description {
        p {
          color: var(--text-color);
          font-size: .875rem;
          font-weight: 500;
          line-height: 1.4285714286em;
        }
        .item-description-link{
          cursor: pointer;
          color: var(--pink-white);
        }
      }

      .item-request {
        display: flex;
        width: 100%;
        gap: 2px;

        .aceitar {
          width: 40%;
          background-color: #47d0bd;
          border-radius: 5px;
          cursor: pointer;
          color: aliceblue;
          text-align: center;
          font-size: 10;
          font-weight: bold;
          padding: 2px;
          line-height: 16px;
          text-transform: uppercase;

        }

        .recusar {
          width: 40%;
          background-color: #fc5d78;
          border-radius: 5px;
          cursor: pointer;
          color: aliceblue;
          text-align: center;
          font-size: 10;
          font-weight: bold;
          padding: 2px;
          line-height: 16px;
          text-transform: uppercase;

        }
      }
    }

    .item-button-delete {
      position: absolute;
      right: 0;
      top: 10px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .delete-notification {
        width: 20px;
        height: 25px;
        background-color: #fc5d78;
        border-radius: 4px;
        color: var(--white);
        cursor: pointer;
      }
    }
  }

  .notfound-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    color: var(--text-color);

    .icon-notfound-notifications {
      .material-symbols-outlined {
        font-size: 60px;
      }
    }
  }

}

.dropdown-box-list::-webkit-scrollbar-track {
  background: var(--sidebar-background)
}

.dropdown-box-list::-webkit-scrollbar-thumb {
  background: var(--pink-white);
  border-radius: 5px;
}

.dropdown-box-list::-webkit-scrollbar {
  width: 6px;
}

.dropdown-box-button {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: var(--pink-white);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 30;

  .timer-coutdown {
    color: var(--white);
    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    background-color: var(--pink-color);
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
  }
}