<div class="container-notifications close">
  <h3>Notificações</h3>
  <p class="timer-coutdown" *ngIf="this.ischange == false">{{this.timer + ' seg'}}</p>
  <button *ngIf="this.ischange == true" (click)="refreshNotifications()" class="button-refresh"> <i
      class='material-symbols-outlined d-flex-center icon'>notifications_active</i>
    Carregar Notificações</button>

  <div class="container-drop">
    <div *ngIf="this.notific.length == 0 || isAdmin == false">
      <div class="not-notifications">
        <div class="icon-note-notifications">
          <span class="material-symbols-outlined">
            notifications_off
          </span>
        </div>
        <p>Sem notificações aproveite e navegue na plataforma</p>
      </div>
    </div>

    <div *ngFor="let notification of this.notific">
      <div *ngIf="notification.type == 'user' ||  notification.type == 'platform'" class="container-content-nf">
        <div class="item-container">
          <div *ngIf="notification.type == 'user'" class="img-notification"><img
              src="{{this.notification.description.url}}" alt=""></div>
          <div *ngIf="notification.type == 'platform'" class="img-notification"><img src="{{this.user.url}}" alt="">
          </div>

          <div class="flags">
            <div *ngIf="notification.type == 'user'" class="flag-user"></div>
            <div *ngIf="notification.type == 'platform'" class="flag-platform"> </div>
          </div>

          <div *ngIf="notification.request == true" class="content">
            <h2>{{notification.title}}</h2>
            <p><strong>{{this.user.nickname}} </strong>{{notification.description.message}}</p>
            <div class="request">

              <button (click)="rejectRequest(notification)" class="recusar">recusar</button>
              <button (click)="acceptRequest(notification)" class="aceitar">aceitar</button>

            </div>
          </div>
          <div *ngIf="notification.request == false" class="content">

            <h2>{{notification.title}}</h2>
            <p>{{notification.description.message}}</p>

          </div>

          <button (click)="deleteNotification(notification)" class="delete-notification">x</button>

        </div>


      </div>




    </div>

    <div *ngFor="let notification of this.teamnf">
      <div *ngIf=" notification.type == 'team'" class="container-content-nf">
        <div class="item-container">

          <div *ngIf="notification.type == 'team'" class="img-notification"><img src="{{notification.description.url}}" alt="">
          </div>

          <div class="flags">
            <div  class="flag-team"></div>
          </div>

          <div *ngIf="notification.request == true" class="content">
            <h2>{{notification.title}}</h2>
            <p><strong>{{this.user.nickname}} </strong>{{notification.description.message}}</p>
            <div class="request">

              <button (click)="rejectRequest(notification)" class="recusar">recusar</button>
              <button (click)="acceptRequest(notification)" class="aceitar">aceitar</button>

            </div>
          </div>
          <div *ngIf="notification.request == false" class="content">

            <h2>{{notification.title}}</h2>
            <p>{{notification.description.message}}</p>

          </div>

          <button (click)="deleteTeamNotification(notification)" class="delete-notification">x</button>

        </div>


      </div>




    </div>

  </div>



</div>
