<div class="dropdown-box header-dropdown" [ngClass]="{'active': ((this.enableNotifications$ | async) == true)}">
  <div class="dropdown-box-header">
    <p class="dropdown-box-header-title">Notificações</p>
  </div>

  <div class="dropdown-box-list">
    <div *ngIf="this.isNotifica == true">
      <div class="notfound-item">
        <div class="icon-notfound-notifications">
          <span class="material-symbols-outlined">
            notifications_off
          </span>
        </div>
        <p>Sem notificações aproveite e navegue na plataforma</p>
      </div>
    </div>
    <div *ngIf="(enableSmallLoading$ | async) == false">
      <div *ngFor="let notification of notificationsAll$ | async">

        <!-- <div class="dropdown-box-list-item">
          <div class="item-container">

            <div class="user-short-description-avatar-small">
              <div class="user-avatar-content-small">
                <div class="hexagon-image-50-55">
                  <svg width="50" height="54" viewBox="0 0 50 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <clipPath id="avatar-img-small">
                        <path
                          d="M4.08547 10.9017L21.8249 2.00288C23.6396 1.09253 25.7755 1.08241 27.5987 1.97552L45.8594 10.9203C48.0875 12.0118 49.5 14.2765 49.5 16.7576V37.6204C49.5 40.0579 48.1363 42.2906 45.9676 43.4034L27.7084 52.7734C25.8256 53.7397 23.5903 53.7288 21.717 52.7443L3.97618 43.4209C1.83863 42.2976 0.5 40.0818 0.5 37.6671V16.7117C0.5 14.2528 1.88757 12.0043 4.08547 10.9017Z"
                          stroke="black" />
                      </clipPath>
                    </defs>
                  </svg>
                  <img src="{{notification.description.url}}" alt="">
                </div>
              </div>
              <div class="user-avatar-progress-small">
                <div class="hexagon-progress-61-68">
                  <svg width="61" height="67" viewBox="0 0 61 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <clipPath id="avatar-progress-back-small">
                        <path
                          d="M51.9799 14.2574L31.0647 3.97607L32.5251 0.568436L55.9889 12.3003C58.7165 13.6642 60.4236 16.4681 60.3828 19.5175L60.0134 47.1163C59.9745 50.0168 58.359 52.6659 55.798 54.0284L33.4337 65.9266C31.0682 67.1851 28.2278 67.1673 25.8783 65.8793L4.17855 53.9843C1.63266 52.5887 0.05 49.9163 0.05 47.013V20.2155H3.30751L3.4866 44.3798C3.50824 47.2993 5.1089 49.9782 7.6696 51.3806L25.8746 61.3509C28.2292 62.6404 31.0717 62.6713 33.4538 61.4333L52.141 51.7209C54.8062 50.3357 56.4786 47.5818 56.4786 44.5781V21.4817C56.4786 18.413 54.7338 15.6112 51.9799 14.2574Z"
                          fill="#E62479" stroke="#E62479" stroke-width="0.1" />

                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
              <div class="user-avatar-progress-border-small">
                <div class="hexagon-progress-61-68">
                  <svg width="60" height="67" viewBox="0 0 60 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <clipPath id="avatar-progress-small">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M26.8097 0.705303C28.6012 -0.225133 30.7114 -0.235557 32.5115 0.677366L56.4192 12.8024C58.622 13.9196 60 16.2287 60 18.7379V47.2853C60 49.7505 58.6695 52.0264 56.526 53.1652L32.6193 65.8672C30.7605 66.8547 28.552 66.8435 26.7029 65.8374L3.41861 53.1681C1.30606 52.0186 0 49.7602 0 47.3179V18.7058C0 16.2189 1.35372 13.9267 3.5264 12.7982L26.8097 0.705303ZM31.0089 3.75041C30.1655 3.32265 29.1808 3.32742 28.3411 3.76357L5.05776 15.8565C4.0351 16.3877 3.37079 17.485 3.37079 18.7058V47.3179C3.37079 48.5166 4.01172 49.5986 5.00699 50.1401L28.2913 62.8094C29.1584 63.2812 30.1889 63.2864 31.0602 62.8235L54.9669 50.1215C55.9763 49.5852 56.6292 48.4953 56.6292 47.2853V18.7379C56.6292 17.5061 55.953 16.4011 54.9166 15.8755L31.0089 3.75041Z"
                          fill="black" />



                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>

            </div>
            <div class="flags">
              <div *ngIf="notification.type == 'user'" class="flag-user"></div>
              <div *ngIf="notification.type == 'platform'" class="flag-platform"> </div>
              <div *ngIf="notification.type == 'team'" class="flag-team"></div>
            </div>

            <div class="iteam-content">
              <div class="item-title">
                <h2>{{notification.title}}</h2>
              </div>
              <div class="item-description">
                <p><strong>{{this.user.nickname}} </strong>{{notification.description.message}}</p>
              </div>
              <div *ngIf="notification.request == true" class="item-request">
                <button (click)="rejectRequest(notification)" class="recusar">recusar</button>
                <button (click)="acceptRequest(notification)" class="aceitar">aceitar</button>
              </div>
            </div>
            <div class="item-button-delete">
              <button (click)="deleteNotification(notification)" class="delete-notification">x</button>
            </div>
          </div>
        </div> -->
        <div class="dropdown-box-list-item">
          <div class="user-status notification">
            <a (click)="overviewNofitification(notification)" class="user-status-avatar">
              <div class="user-status-avatar">
                <div class="user-avatar-small">
                  <div class="user-avatar-content">
                    <div class="hexagon-image-31-35">
                      <svg width="31" height="35" viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                          <clipPath id="avatar-img-post">
                            <path
                              d="M4.01928 6.39181L12.3726 2.08125C14.223 1.12641 16.4188 1.11583 18.2783 2.0528L26.9249 6.40974C29.1171 7.51435 30.5 9.75971 30.5 12.2145V22.5002C30.5 24.9106 29.1661 27.1231 27.0344 28.2484L18.3891 32.8121C16.4702 33.825 14.1724 33.8137 12.2636 32.7818L3.90887 28.2652C1.80874 27.1299 0.5 24.9346 0.5 22.5472V12.1681C0.5 9.73587 1.85788 7.50716 4.01928 6.39181Z"
                              stroke="black" />

                          </clipPath>
                        </defs>
                      </svg>
                      <img src="{{notification.description.url}}" alt="">
                    </div>
                  </div>
                  <div class="user-avatar-progress">
                    <div class="hexagon-border-front-40-44">
                      <svg width="40" height="44" viewBox="0 0 40 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                          <clipPath id="avatar-progress-front-post">
                            <path
                              d="M34.8649 9.57667L20.576 2.48194L22.015 0.563383L37.7665 8.43915C39.1047 9.10825 39.95 10.476 39.95 11.9721V29.4782C39.95 32.4242 38.3209 35.1287 35.7166 36.506L23.5351 42.9481C21.1789 44.1941 18.3551 44.1765 16.0146 42.9012L4.19613 36.4613C1.64043 35.0687 0.05 32.3909 0.05 29.4804V13.3507H2.18847L2.29581 27.7487C2.31763 30.6753 3.92612 33.3596 6.49661 34.7589L15.9641 39.913C18.3355 41.204 21.1963 41.2201 23.5821 39.9559L33.3881 34.7599C36.022 33.3643 37.669 30.6275 37.669 27.6468V14.0998C37.669 12.1819 36.5827 10.4296 34.8649 9.57667Z"
                              fill="#E62479" stroke="#E62479" stroke-width="0.1" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="user-avatar-progress-border">
                    <div class="hexagon-border-40-44">
                      <svg width="40" height="44" viewBox="0 0 40 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                          <clipPath id="avatar-progress-back-post">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M17.8732 0.465966C19.0674 -0.148737 20.4743 -0.155623 21.6743 0.447509L37.6128 8.45805C39.0814 9.19614 40 10.7217 40 12.3794L39.5 30.5C39.5 32.1287 38.929 34.2476 37.5 35L21.7462 43.5159C20.507 44.1683 19.0347 44.1609 17.8019 43.4962L2.5 35C1.09164 34.2406 0.5 32.6136 0.5 31L0 12.3582C0 10.7152 0.902478 9.20082 2.35093 8.45529L17.8732 0.465966ZM20.6726 2.47775C20.1103 2.19514 19.4539 2.1983 18.8941 2.48644L3.37184 10.4758C2.69006 10.8267 2.24719 11.5517 2.24719 12.3582V31.2611C2.24719 32.053 2.67448 32.7678 3.33799 33.1256L18.8608 41.4957C19.4389 41.8074 20.1259 41.8108 20.7068 41.505L36.6446 33.1133C37.3175 32.759 37.7528 32.0389 37.7528 31.2395V12.3794C37.7528 11.5656 37.302 10.8355 36.6111 10.4883L20.6726 2.47775Z"
                              fill="black" />
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <div class="user-avatar-flag">
                    <div *ngIf="notification.type == 'user'" class="flag-user"></div>
                    <div *ngIf="notification.type == 'platform'" class="flag-platform"> </div>
                    <div *ngIf="notification.type == 'team'" class="flag-team"></div>
                    <div *ngIf="notification.type == 'like'" class="flag-like"></div>
                    <div *ngIf="notification.type == 'love'" class="flag-love"></div>
                    <div *ngIf="notification.type == 'good'" class="flag-good"></div>
                    <div *ngIf="notification.type == 'omg'" class="flag-omg"></div>
                    <div *ngIf="notification.type == 'pistola'" class="flag-pistola"></div>
                    <div *ngIf="notification.type == 'aff'" class="flag-aff"></div>
                  </div>
                </div>
              </div>
            </a>
            <div class="item-content">
              <div class="item-title">
                <h2> <strong>{{notification.description.name.toLocaleUpperCase()}}</strong> {{notification.title}}</h2>
              </div>
              <div class="item-description">
                <p *ngIf="notification.type == 'like'">{{notification.description.message}} de Curtir <a class="item-description-link">Post</a></p>
                <p *ngIf="notification.type == 'love'">{{notification.description.message}} de Amei <a class="item-description-link">Post</a></p>
                <p *ngIf="notification.type == 'good'">{{notification.description.message}} de Troll <a class="item-description-link">Post</a></p>
                <p *ngIf="notification.type == 'omg'">{{notification.description.message}} de OMG <a class="item-description-link">Post</a></p>
                <p *ngIf="notification.type == 'pistola'">{{notification.description.message}} de Hack <a class="item-description-link">Post</a></p>
                <p *ngIf="notification.type == 'aff'">{{notification.description.message}} de Noob <a class="item-description-link">Post</a></p>
              </div>
              <div *ngIf="notification.request == true" class="item-request">
                <button (click)="rejectRequest(notification)" class="recusar">recusar</button>
                <button (click)="acceptRequest(notification)" class="aceitar">aceitar</button>
              </div>
            </div>
            <div *ngIf="notification.request == false" class="item-button-delete">
              <button (click)="deleteNotification(notification)" class="delete-notification">x</button>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div *ngIf="(enableSmallLoading$ | async) == true">
      <app-small-loading></app-small-loading>
    </div>
  </div>
  <div class="dropdown-box-button">
    <p class="timer-coutdown" *ngIf="this.ischange == false">{{this.timer + ' seg'}}</p>
    <button *ngIf="this.ischange == true" (click)="refreshNotifications()"> <i
        class='material-symbols-outlined d-flex-center icon'>notifications_active</i>
      Carregar Notificações</button>
  </div>
</div>