<section *ngIf="this.Team._id" class="container-hub">
  <!-- <div class="profile-header">
    <img class="profile-header-cover" src="{{this.Team.urlCover}}" alt="">
  </div>
  <div class="profile-header-info v2">
 
    <div class="profile-header-social-links-wrap">
      <div class="user-stats">
        <div class="user-stats-container">
          <div class="user-stat" *ngIf="this.Team.private == false">
            <span class="material-symbols-outlined">
              public
            </span>
            Público
          </div>
          <div class="user-stat" *ngIf="this.Team.private == true">
            <span class="material-symbols-outlined">
              lock
            </span>
            Privado
          </div>


        </div>
        <div class="user-stats-container">
          <div class="user-stat">
            <p>{{this.membersNumber +1}}</p>
            Membros
          </div>



        </div>
      </div>

      <div class="profile-header-social-links ">
        <a class="social-link-all discord" *ngIf="this.Team.discordTeam" title="{{this.Team.discordTeam}}"><img
            src="./assets/img/discord.png" alt=""></a>

        <a class="social-link-all instagram" *ngIf="this.Team.instagramTeam"
          href="https://www.instagram.com/{{this.Team.instagramTeam}}" target="_blank"><img
            src="./assets/img/instagram.png" alt=""></a>

        <a class="social-link-all facebook" *ngIf="this.Team.facebookTeam"
          href="https://www.facebook.com/{{this.Team.facebookTeam}}" target="_blank"><img
            src="./assets/img/facebook.png" alt=""></a>

        <a class="social-link-all youtube" *ngIf="this.Team.youtubeTeam"
          href="https://www.youtube.com/{{this.Team.youtubeTeam}}" target="_blank"><img src="./assets/img/youtube.png"
            alt=""></a>
      </div>
      <div class="profile-header-info-actions">
        <div *ngIf="this.isadmin == false" class="profile-header-info-action">
          <button (click)="quitTeam()" class="profile-header-info-action-button">
            <span class="material-symbols-outlined">
              exit_to_app
            </span>

          </button>

        </div>
      </div>
    </div>
  </div> -->

  <div class="profile-header v2">
    <img class="profile-header-cover" src="{{this.Team.urlCover}}" alt="">
    <div class="profile-header-info">
      <div class="user-short-description big">
        <a class="user-short-description-avatar">
          <div class="user-avatar-border">
            <div class="hexagon-148-164">
              <svg width="148" height="164" viewBox="0 0 148 164" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <clipPath id="avatar-border-big">
                    <path
                      d="M4.06316 35.5349L70.2195 2.02899C72.0463 1.10378 74.2023 1.09351 76.0378 2.00127L143.881 35.5532C146.098 36.6492 147.5 38.9074 147.5 41.3797V120.947C147.5 123.376 146.146 125.602 143.99 126.719L76.1479 161.868C74.2529 162.849 71.9966 162.838 70.1112 161.838L3.95349 126.736C1.82854 125.608 0.5 123.4 0.5 120.994V41.3336C0.5 38.8836 1.87754 36.6418 4.06316 35.5349Z"
                      stroke="black" />

                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
          <div class="user-avatar-content">
            <div class="hexagon-image-124-136">
              <svg width="124" height="136" viewBox="0 0 124 136" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <clipPath id="avatar-img-big">
                    <path
                      d="M4.08714 29.2202L58.386 2.00094C60.1999 1.09169 62.3342 1.08158 64.1566 1.97361L119.858 29.2387C122.087 30.3299 123.5 32.5951 123.5 35.0769V99.5508C123.5 101.989 122.136 104.222 119.966 105.335L64.2663 133.897C62.3843 134.863 60.1506 134.852 58.2782 133.868L3.97788 105.352C1.83939 104.229 0.5 102.013 0.5 99.5975V35.0309C0.5 32.5713 1.88833 30.3224 4.08714 29.2202Z"
                      stroke="black" />
                  </clipPath>
                </defs>
              </svg>
              <img src="{{this.Team.url}}" alt="">
            </div>
          </div>

        </a>
        <p class="user-short-description-title">{{this.Team.name}}</p>
        <p class="user-short-description-text"> {{this.Team.tagName}}</p>
      </div>
      <div class="user-stats">
        <div class="user-stat big">
          <div class="user-stat-icon" *ngIf="this.Team.private == false">
            <span class="material-symbols-outlined">
              public
            </span>
          </div>
          <div class="user-stat-icon" *ngIf="this.Team.private == true">
            <span class="material-symbols-outlined">
              lock
            </span>
          </div>
          <p class="user-stat-text"*ngIf="this.Team.private == true">Privado</p>
          <p class="user-stat-text"*ngIf="this.Team.private == false">Público</p>
        </div>
        <div class="user-stat big">
          <p class="user-stat-title">{{this.membersNumber +1}}</p>
          <p class="user-stat-text">Membros</p>
        </div>
        
      </div>
      <div class="profile-header-info-actions">
        <button (click)="quitTeam()" class="profile-header-info-action">
          <span class="material-symbols-outlined">
            exit_to_app
          </span>

        </button>
      </div>
    </div>
  </div>
</section>

<app-team-setup *ngIf="this.Team._id == ''"></app-team-setup>


<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>