<div class="container-page">
  <section *ngIf="this.isTeam == true">
    <div class="container-cover">

    </div>
    <div class="team-user-container">
      <div class="img-container">
        <img class="img-team" src="{{this.Team.url}}" alt="">
      </div>
      <h1>{{this.Team.name.toUpperCase()}}</h1>
      <div class="container-overview-team d-flex">
        <div *ngIf="this.Team.discordTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/discord.png" alt="">
          </div>
          <a href="{{this.Team.discordTeam}}">Discord</a>
        </div>
        <div *ngIf="this.Team.youtubeTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/youtube.png" alt="">
          </div>
          <a href="{{this.Team.youtubeTeam}}">Youtube</a>
        </div>

        <div *ngIf="this.Team.facebookTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/facebook.png" alt="">
          </div>
          <a href="{{this.Team.facebookTeam}}">Facebook</a>
        </div>
        <div *ngIf="this.Team.instagramTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/instagram.png" alt="">
          </div>
          <a href="{{this.Team.instagramTeam}}">Instagram</a>
        </div>

      </div>
    </div>

    <div *ngIf="this.Team.description" class="container-description">
      <div class="title">
        <h1>Descrição & Regras</h1>
      </div>
      <div class="description">
        <p>{{this.Team.description}}</p>
      </div>
    </div>



    <div class="container-items-team">
      <div class="container-items-title">
        <span>Adm</span>
      </div>
      <div class="container-items" >
        <div  class="item admin gap-10 ">

          <div class="imagem-item">
            <img src="{{this.Team.admin.url}}" alt="">
          </div>
          <div class="name-item-container">
            <div class="name-item">
              <span>{{this.Team.admin.nickname}}</span>
            </div>
            <div class="img-country">
              <img *ngIf="this.Team.admin.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
              <img *ngIf="this.Team.admin.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
              <img *ngIf="this.Team.admin.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
              <img *ngIf="this.Team.admin.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
            </div>
          </div>
          <div class="infos-item">
            <img *ngIf="this.Team.admin" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
            <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
          </div>

        </div>
      </div>
    </div>



    <div class="container-items-team">
      <div class="container-items-title">
        <span>Sub Adm,s</span>
      </div>
      <div class="container-items" >
        <div *ngFor="let member of this.Team.adminMembers" class="item sub-admin gap-10 ">

          <div class="imagem-item">
            <img src="{{member.url}}" alt="">
          </div>
          <div class="name-item-container">
            <div class="name-item">
              <span>{{member.nickname}}</span>
            </div>
            <div class="img-country">
              <img *ngIf="member.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
              <img *ngIf="member.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
              <img *ngIf="member.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
              <img *ngIf="member.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
            </div>
          </div>
          <div class="infos-item">
            <img *ngIf="member.verify" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
            <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
          </div>

        </div>
      </div>
    </div>

    <div class="container-items-team">
      <div class="container-items-title">
        <span>Membros</span>
      </div>
      <div class="container-items" >
        <div *ngFor="let member of this.Team.members" class="item gap-10 ">

          <div class="imagem-item">
            <img src="{{member.url}}" alt="">
          </div>
          <div class="name-item-container">
            <div class="name-item">
              <span>{{member.nickname}}</span>
            </div>
            <div class="img-country">
              <img *ngIf="member.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
              <img *ngIf="member.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
              <img *ngIf="member.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
              <img *ngIf="member.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
            </div>
          </div>
          <div class="infos-item">
            <img *ngIf="member.verify" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
            <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
            <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
          </div>

        </div>
      </div>
    </div>

    <div class="container-data">



    </div>
  </section>

  <section *ngIf="this.isTeam == false">
    <app-team-setup></app-team-setup>
  </section>
</div>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>


<app-modal-generic #modal>
  <div class="container-content-modal">
    <div class="title-modal">
      <h1>Altere a foto do time</h1>
      <p>Selecione a foto que voce deseja</p>
    </div>
    <div class="modal-center">
      <div class="container-img">

        <img [src]="this.url" alt="image" />

      </div>
      <label class="file">
        <input type="file" (change)="onselectFile($event)" />
        <span>Selecione sua foto</span>
      </label>

      <button (click)="modal.toggle()" class="btn-modal-change">Alterar</button>
      <button (click)="modal.toggle()" class="btn-modal-close">Fechar</button>

    </div>

  </div>
</app-modal-generic>
