<div class="container-page">
  <section *ngIf="Team">
    <div class="container-cover">
      <img src="./assets/img/teams/team-cover.png" alt="">
    </div>
    <div class="team-user-container">
      <div class="img-container">
        <img class="img-team" src="{{this.Team.url}}" alt="">
      </div>
      <h1>{{this.Team.name.toUpperCase()}}</h1>
      <div class="container-overview-team d-flex">
        <div *ngIf="this.Team.discordTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/discord.png" alt="">
          </div>
          <a href="{{this.Team.discordTeam}}">Discord</a>
        </div>
        <div *ngIf="this.Team.youtubeTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/youtube.png" alt="">
          </div>
          <a href="{{this.Team.youtubeTeam}}">Youtube</a>
        </div>

        <div *ngIf="this.Team.facebookTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/facebook.png" alt="">
          </div>
          <a href="{{this.Team.facebookTeam}}">Facebook</a>
        </div>
        <div *ngIf="this.Team.instagramTeam" class="social-item d-flex">
          <div class="img-icon">
            <img src="./assets/img/instagram.png" alt="">
          </div>
          <a href="{{this.Team.instagramTeam}}">Instagram</a>
        </div>

      </div>
    </div>

    <div *ngIf="this.Team.description" class="container-description">
      <div class="title">
        <h1>Descrição & Regras</h1>
      </div>
      <div class="description">
        <p>{{this.Team.description}}</p>
      </div>
    </div>

    <div class="container-admin-team">
      <span class="title-float">Administrador</span>
      <div class="admin-data d-flex">
        <div class="img">
          <img src="{{this.Team.admin.url}}" alt="">
        </div>
        <h2>{{this.Team.admin.nickname}}</h2>
      </div>
    </div>

    <div class="container-sub-adms">
      <div class="title-sub-admins">
        <span>Sub-administradores</span>
      </div>
      <div class="container-items d-flex mt-15" *ngFor="let admin of this.Team.adminMembers">
        <div class="item gap-10 d-flex">

          <div class="imagem-admin">
            <img src="{{admin.url}}" alt="">
          </div>
          <div class="infos-item  d-flex-column">
            <h2>{{admin.name}}</h2>
            <p>{{admin.nickname}}</p>
            <p>{{admin.country}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container-sub-adms">
      <div class="title-sub-admins">
        <span>Membros</span>
      </div>
      <div class="container-items d-flex mt-15" *ngFor="let member of this.Team.members">
        <div class="item gap-10 d-flex">

          <div class="imagem-admin">
            <img src="{{member.url}}" alt="">
          </div>
          <div class="infos-item  d-flex-column">
            <h2>{{member.name}}</h2>
            <p>{{member.nickname}}</p>
            <p>{{member.country}}</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container-data">



    </div>
  </section>

  <section *ngIf="!Team">
    <app-team-setup></app-team-setup>
  </section>
</div>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>


<app-modal-generic #modal>
  <div class="container-content-modal">
    <div class="title-modal">
      <h1>Altere a foto do time</h1>
      <p>Selecione a foto que voce deseja</p>
    </div>
    <div class="modal-center">
      <div class="container-img">

        <img [src]="this.url" alt="image" />

      </div>
      <label class="file">
        <input type="file" (change)="onselectFile($event)" />
        <span>Selecione sua foto</span>
      </label>

      <button (click)="modal.toggle()" class="btn-modal-change">Alterar</button>
      <button (click)="modal.toggle()" class="btn-modal-close">Fechar</button>

    </div>

  </div>
</app-modal-generic>
