<section class="container-hub">
  <div class="profile-header">
    <img class="profile-header-cover" src="{{this.user.urlCover}}" alt="">
  </div>
  <div class="profile-header-info">
    <div class="user-short-description ">
      <a class="user-short-description-avatar big">
        <div class="user-avatar-border">
          <div class="hexagon-148-164">
            <svg width="148" height="164" viewBox="0 0 148 164" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath id="avatar-border-big" clipPathUnits="objectBoundingBox">
                  <path
                    d="M4.06316 35.5349L70.2195 2.02899C72.0463 1.10378 74.2023 1.09351 76.0378 2.00127L143.881 35.5532C146.098 36.6492 147.5 38.9074 147.5 41.3797V120.947C147.5 123.376 146.146 125.602 143.99 126.719L76.1479 161.868C74.2529 162.849 71.9966 162.838 70.1112 161.838L3.95349 126.736C1.82854 125.608 0.5 123.4 0.5 120.994V41.3336C0.5 38.8836 1.87754 36.6418 4.06316 35.5349Z"
                    stroke="black" />

                </clipPath>
              </defs>
            </svg>
          </div>
        </div>

        <div class="user-avatar-content">
          <div class="hexagon-image-100-110">
            <svg width="100" height="110" viewBox="0 0 100 110" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath id="avatar-img-big" >
                  <path
                    d="M4.0803 23.3469L46.5221 2.0089C48.3397 1.09512 50.4802 1.08496 52.3063 1.98146L95.8645 23.3655C98.0898 24.458 99.5 26.7212 99.5 29.2003V79.7071C99.5 82.1425 98.1386 84.3736 95.9729 85.4874L52.4161 107.889C50.5304 108.859 48.2903 108.848 46.4142 107.86L3.97091 85.5049C1.83629 84.3806 0.5 82.1664 0.5 79.7538V29.1543C0.5 26.6974 1.88525 24.4505 4.0803 23.3469Z"
                    stroke="black" />


                </clipPath>
              </defs>
            </svg>
            <img src="{{this.user.url}}" alt="">
          </div>
        </div>

        <div class="user-avatar-progress">
          <div class="hexagon-progress-124-136">

            <svg width="124" height="136" viewBox="0 0 124 136" fill="none" xmlns="http://www.w3.org/2000/svg">

              <defs>
                <clipPath  id="avatar-progress-back-big" clipPathUnits="objectBoundingBox">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M55.4068 1.44026C59.1091 -0.459732 63.4703 -0.481017 67.1904 1.38321L116.6 26.1431C121.152 28.4244 124 33.1397 124 38.2635V96.5585C124 101.593 121.25 106.24 116.82 108.566L67.4131 134.504C63.5718 136.52 59.0075 136.497 55.1859 134.443L7.06512 108.571C2.6992 106.224 0 101.612 0 96.6251V38.1979C0 33.1198 2.79768 28.4389 7.28789 26.1345L55.4068 1.44026ZM64.0851 7.6585C62.342 6.78499 60.3071 6.79474 58.5716 7.68536L10.4527 32.3797C8.3392 33.4643 6.96629 35.7052 6.96629 38.1979V96.6251C6.96629 99.0728 8.29088 101.282 10.3478 102.388L58.4686 128.259C60.2607 129.223 62.3904 129.233 64.191 128.288L113.598 102.35C115.684 101.255 117.034 99.0294 117.034 96.5585V38.2635C117.034 35.7481 115.636 33.4917 113.494 32.4183L64.0851 7.6585Z"
                    fill="black" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>

        <div class="user-avatar-progress-border" clipPathUnits="objectBoundingBox">
          <div class="hexagon-border-124-136">
            <svg width="124" height="136" viewBox="0 0 124 136" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath id="avatar-progress-front">
                  <path
                    d="M112.31 31.6229L63.5726 6.4812L67.5171 0.56448L119.559 26.6168C122.25 27.9641 123.95 30.7159 123.95 33.7257V99.0932C123.95 102.043 122.317 104.75 119.708 106.125L65.0264 134.958C62.6748 136.198 59.8591 136.181 57.5231 134.912L4.20475 105.944C1.64424 104.553 0.05 101.872 0.05 98.9585V39.0704H6.88847L7.29566 93.5252C7.31757 96.4553 8.9299 99.1421 11.5052 100.54L57.5195 125.516C59.8604 126.787 62.6783 126.818 65.0461 125.598L112.305 101.254C114.985 99.8736 116.669 97.1118 116.669 94.0975V38.7771C116.669 35.7645 114.987 33.0041 112.31 31.6229Z"
                    fill="#E62479" stroke="#E62479" stroke-width="0.1" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </a>
      <p class="user-short-description-title">{{this.user.nickname}}</p>
      <p class="user-short-description-text"> {{this.user.name}}</p>
    </div>
    <div class="profile-header-social-links-wrap">
      <div class="user-stats">
        <div class="user-stats-container">

          <img *ngIf="this.user.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
          <img *ngIf="this.user.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
          <img *ngIf="this.user.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
          <img *ngIf="this.user.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
          <p *ngIf="this.user.country == 'brasil'">Brasil</p>
          <p *ngIf="this.user.country == 'méxico'">México</p>
          <p *ngIf="this.user.country == 'chile'">Chile</p>
          <p *ngIf="this.user.country == 'argentina'">Argentina</p>
        </div>
      </div>


      <div class="profile-header-social-links " *ngIf="this.user.social">
        <a class="social-link-all discord" *ngIf="this.user.social.discord" title="{{this.user.social.discord}}"><img
            src="./assets/img/discord.png" alt=""></a>

        <a class="social-link-all instagram" *ngIf="this.user.social.instagram"
          href="https://www.instagram.com/{{this.user.social.instagram}}" target="_blank"><img
            src="./assets/img/instagram.png" alt=""></a>

        <a class="social-link-all facebook" *ngIf="this.user.social.facebook"
          href="https://www.facebook.com/{{this.user.social.facebook}}" target="_blank"><img
            src="./assets/img/facebook.png" alt=""></a>

        <a class="social-link-all youtube" *ngIf="this.user.social.youtube"
          href="https://www.youtube.com/{{this.user.social.youtube}}" target="_blank"><img
            src="./assets/img/youtube.png" alt=""></a>

        <a class="social-link-all twitter" *ngIf="this.user.social.twitter"
          href="https://twitter.com/{{this.user.social.twitter}}" target="_blank"><img src="./assets/img/twitter.png"
            alt=""></a>

        <a class="social-link-all psn" *ngIf="this.user.social.psn" title="{{this.user.social.psn}}"><img src="./assets/img/psn.png" alt=""></a>

        <a class="social-link-all xbox" *ngIf="this.user.social.xbox" title="{{this.user.social.xbox}}"><img src="./assets/img/xbox.png" alt=""></a>

        <a class="social-link-all twitch" *ngIf="this.user.social.twitch"
          href="https://www.twitch.tv/{{this.user.social.twitch}}" target="_blank"><img src="./assets/img/twitch.png"
            alt=""></a>


      </div>



    </div>

  </div>
</section>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>
