
.container-cover {
  width: 100%;
  height: 100px;

  img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    object-position: top;
  }
}

.profile-user-container {
  width: 100%;
    height: auto;
    position: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img-container {
  height: 100px;
}
.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -65px;
  position: relative;
  border: 8px;
  border-style: solid;
  border-color: var(--background-mode);
}

.name-container {
  padding: 5px;

  h1 {
    color: var(--text-color);
    font-size: xx-large;
  }
}
