<section class="container-hub">

  <app-header-team></app-header-team>
  <div class="grid-column">


    <div class="widget-box">
      <p class="widget-box-title">Sobre o Seu Time</p>
      <div class="widget-box-content">
        <form (ngSubmit)="updateinfoTeam()" class="form" [formGroup]="updateForm" #formDir="ngForm">

          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Nome</label>
                <input type="text" formControlName="name" placeholder="Nome" />
                <div class="alert" *ngIf="name.invalid && formDir.submitted">
                  <p class="form-alert">Nome é obrigatório</p>
                </div>
              </div>
            </div>
            <div class="form-item">
              <div class="form-input">
                <label>Tag Name</label>
                <input type="text" formControlName="tagName" placeholder="tagName" />
                <div class="alert" *ngIf="tagName.invalid && formDir.submitted">
                  <p class="form-alert">Tag Name é obrigatório</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Id do Time</label>
                <input type="text" formControlName="idTeam" />

              </div>
            </div>
            <div class="form-item">
              <div class="form-input">
                <label>Data de Criação</label>
                <input type="text" formControlName="createdAt" />


              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Descrição</label>
                <textarea name="" formControlName="description" placeholder="Descrição" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Email</label>
                <input type="text" formControlName="emailTeam" placeholder="Email" />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Escolha o tipo de time ?</label>
                <div class="form-two-options">
                  <div class="options-radio">
                    <input type="radio" value="false" formControlName="private" checked />
                    <span>Público</span>
                  </div>

                  <div class="options-radio ">
                    <input type="radio" value="true" formControlName="private" />
                    <div class="box">
                      <span>Privado</span>
                    </div>

                  </div>


                </div>
                <div class="alert" *ngIf="private.invalid && formDir.submitted">
                  <p>Tipo de time é obrigatório</p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Youtube</label>

                <input type="text" formControlName="youtubeTeam" placeholder="Youtube" />
              </div>
            </div>
            <div class="form-item">
              <div class="form-input">
                <label>Instagram</label>
                <input type="text" formControlName="instagramTeam" placeholder="Instagram" />
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-item">
              <div class="form-input">
                <label>Facebook</label>

                <input type="text" formControlName="facebookTeam" placeholder="Facebook" />

              </div>
            </div>
            <div class="form-item">
              <div class="form-input">
                <label>Discord</label>

                <input type="text" formControlName="discordTeam" placeholder="Discord" />

              </div>
            </div>
          </div>

          <button class="button" [disabled]="!updateForm.valid || (this.updateForm.touched == false)"
            type="submit">Atualizar
            Dados</button>
        </form>
      </div>
    </div>
  </div>
</section>


<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>


<app-modal-generic #modal>
  <div class="container-content-modal">
    <div class="title-modal">
      <h1>Altere a foto do time</h1>
      <p>Selecione a foto que voce deseja</p>
    </div>
    <div class="modal-center">
      <div class="container-img">

        <img [src]="this.url" alt="image" />

      </div>
      <label class="file">
        <input type="file" (change)="onselectFile($event)" />
        <span>Selecione sua foto</span>
      </label>

      <button (click)="modal.toggle()" (click)="changeImg()" class="btn-modal-change">Alterar</button>
      <button (click)="modal.toggle()" class="btn-modal-close">Fechar</button>

    </div>

  </div>
</app-modal-generic>