<section id="darkmode" class="container-admin">
  <app-navbar></app-navbar>
  <!-- <app-sidebar></app-sidebar> -->
  <div class="container-admin-content">
    <div class="container-navbar">
    
    </div>
    <div class="sidebar-container ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="container-all ">
      <div class="container-content">
        <router-outlet></router-outlet>
      </div>
      <app-notifications></app-notifications>
    </div>

    <!-- <div class="container-footer">
            <app-footer></app-footer>
        </div> -->
  </div>

</section>
