<section class="container-hub">
    <div class="container-cover-hub-account">
        <img src="./assets/img/teams/icon-team.png" alt="">
        <h2 class="title-cover-hub">Hub de Time</h2>
        <p class="text-cover-hub">Alterar dados de time, foto, gerencie</p>
    </div>

    <div class="container-hub-content">
        <div class="header-content">
            <p class="pre-title">Meu Time</p>
            <h2 class="title">Informações de Clan</h2>
        </div>

        <div class="widget-box">
            <p class="widget-box-title">Sobre o seu time</p>

            <div class="widget-box-content">
                <form (ngSubmit)="createTeamData()" class="form" [formGroup]="createTeam" #formDir="ngForm">
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label for="">Nome</label>
                                <input type="text" formControlName="name" placeholder="Nome" />
                                <div class="alert" *ngIf="name.invalid && formDir.submitted">
                                    <p class="form-alert">Nome é obrigatório</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-input">
                                <label for="">Tag Name</label>
                                <input type="text" formControlName="tagName" placeholder="tagName" />
                                <div class="alert" *ngIf="tagName.invalid && formDir.submitted">
                                    <p class="">Tag Name é obrigatório</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label>Descrição</label>
                                <textarea name="" formControlName="description" placeholder="Descrição" cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label>Email</label>
                                <input type="text" formControlName="emailTeam" placeholder="Email" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label>Escolha o tipo de time ?</label>
                                <div class="form-two-options">
                                    <div class="options-radio">
                                        <input type="radio" value="false" formControlName="private" checked />
                                        <span>Público</span>
                                    </div>

                                    <div class="options-radio ">
                                        <input type="radio" value="true" formControlName="private" />
                                        <div class="box">
                                            <span>Privado</span>
                                        </div>

                                    </div>


                                </div>
                                <div class="alert" *ngIf="private.invalid && formDir.submitted">
                                    <p>Tipo de time é obrigatório</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label>Youtube</label>

                                <input type="text" formControlName="youtubeTeam" placeholder="Youtube" />
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-input">
                                <label>Instagram</label>
                                <input type="text" formControlName="instagramTeam" placeholder="Instagram" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label>Facebook</label>

                                <input type="text" formControlName="facebookTeam" placeholder="Facebook" />

                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-input">
                                <label>Discord</label>

                                <input type="text" formControlName="discordTeam" placeholder="Discord" />

                            </div>
                        </div>
                    </div>
                    <button class="button" [disabled]="!createTeam.valid " type="submit">Cadastrar time</button>

                </form>
            </div>
        </div>
    </div>

</section>





<div *ngIf="loading$ | async">
    <app-loading></app-loading>
</div>