<div class="container-page">


  <div class="container-items-team">
    <div class="container-items-title">
      <span>Sub Adm,s</span>
    </div>
    <div class="container-items" >
      <div *ngFor="let member of this.team.adminMembers" class="item sub-admin gap-10 ">

        <div class="imagem-item">
          <img src="{{member.url}}" alt="">
        </div>
        <div class="name-item-container">
          <div class="name-item">
            <span>{{member.nickname}}</span>
          </div>
          <div class="img-country">
            <img *ngIf="member.country == 'brasil'" src="./assets/img/flags/brasil.png" alt="">
            <img *ngIf="member.country == 'méxico'" src="./assets/img/flags/mexico.png" alt="">
            <img *ngIf="member.country == 'chile'" src="./assets/img/flags/chile.png" alt="">
            <img *ngIf="member.country == 'argentina'" src="./assets/img/flags/argentina.png" alt="">
          </div>
        </div>
        <div class="infos-item">
          <img *ngIf="member.verify" alt="Verificado" title="Verificado" src="./assets/img/flags/verificado.png" alt="">
          <!-- <img *ngIf="member.verify" src="./assets/img/flags/suporte.png" alt="">
          <img *ngIf="member.verify" src="./assets/img/flags/sniper.png" alt="">
          <img *ngIf="member.verify" src="./assets/img/flags/rush.png" alt=""> -->
        </div>
        <div>
          <button (click)="removeAdminUser(member)"  class="btn-admin option2">Rebaixar a Membro</button>
        </div>
        <div>
          <button (click)="removeMember(member)"  class="btn-admin option1">Remover</button>
        </div>


      </div>
    </div>
  </div>

</div>

<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>

