<div class="container-page">
  <div class="container-data">
    <div class="top-container">
      <div class="title-form p-20">
        <h3 class="">Preencha os dados para buscar os jogadores</h3>

      </div>
    </div>
    <hr>

    <div class="container-search p-20">
      <form class="d-flex-colum" #formDir="ngForm">
        <div class="search-bar d-flex gap-10">
          <div class="item-form">
            <label>Nome | Tag Name ou ID</label>
            <div>
              <input type="text" formControlName="key" placeholder="Insira o nome do time, Tag Name ou ID " />

            </div>

          </div>

          <button type="submit" class="btn-search">Buscar</button>
        </div>
        <!-- <div class="alert" *ngIf="key.invalid && formDir.submitted">
                  <p class="">Informar um valor é obrigatório</p>
              </div> -->
      </form>

      <div class="container-search-teams d-flex gap-10">
        <div class="teams">
          <div class="team-item d-flex">
            <div class="image">
              <img src="">
            </div>
            <div class="team-info d-flex-colum gap-5">
              <div class="nome-team">

                <h2></h2>
              </div>
              <div class="sub-item-team d-flex gap-5">
                <span>ID :</span>
                <p class="id-team"></p>
              </div>
              <div class="sub-item-team d-flex gap-5">
                <span>Tag Name :</span>
                <p> </p>
              </div>
              <div class="sub-item-team d-flex gap-5">
                <span>Tipo :</span>
                <!-- <p *ngIf="team.private == false"> Público</p>
                              <p *ngIf="team.private == true"> Privado</p> -->
              </div>
              <div>
                <button>Entrar</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>



  </div>

  <div class="container-members">
    <h1>Adm,s</h1>

    <p  *ngIf="team.adminMembers.length == 0">Seu time não possui outros administradores.</p>
    <div *ngIf="team">
    <div class="container-search-teams d-flex gap-10" *ngFor="let admin of this.team.adminMembers">
      <div class="teams">
        <div class="team-item d-flex">
          <div class="image">
            <img src="{{admin.url}}">
          </div>
          <div class="team-info d-flex-colum gap-5">
            <div class="nome-team">

              <h2></h2>
            </div>
            <div class="sub-item-team d-flex gap-5">
              <span>ID :</span>
              <p class="id-team">{{admin.id}}</p>
            </div>
            <div class="sub-item-team d-flex gap-5">
              <span>Tag Name :</span>
              <p> {{admin.tagName}}</p>
            </div>
            <div class="sub-item-team d-flex gap-5">
              <span>Tipo :</span>

              <!-- <p *ngIf="team.private == false"> Público</p>
                      <p *ngIf="team.private == true"> Privado</p> -->
            </div>
            <div>
              <button>Tornar Admin</button>
              <button>Remover</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

