<div class="sidebar-container">
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../../assets/img/logo-menu-platforma.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">RYPE</span>
                </div>
            </div>
            <i class='material-symbols-outlined  toggle'>chevron_right</i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>home_app_logo</i>
                            <span class="text nav-text">Home</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Dashboard</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Feed</span>
                                </div>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>calendar_month</i>
                            <span class="text nav-text">Treinos</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Gerenciar</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Resultados</span>
                                </div>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>verified</i>
                            <span class="text nav-text">Eventos</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Gerenciar</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Resultados</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Inscritos</span>
                                </div>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>groups</i>
                            <span class="text nav-text">Time</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Meu Clan</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Gerenciar</span>
                                </div>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>account_circle</i>
                            <span class="text nav-text">Perfil</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span routerLink="/overview">Meu Perfil</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span routerLink="/security">Alterar senha</span>
                                </div>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-link">
                        <a>
                            <i class='material-symbols-outlined  icon'>chat</i>
                            <span class="text nav-text">Suporte</span>
                        </a>
                        <div class="sub-menu-container">
                            <ul>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Meus Tickets</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Criar Ticket</span>
                                </div>
                                <div class="sub-item">
                                    <i class='material-symbols-outlined  icon'>subdirectory_arrow_right</i>
                                    <span>Falar com Adm,s</span>
                                </div>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='material-symbols-outlined  icon'>logout</i>
                        <span class="text nav-text">Sair</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='material-symbols-outlined icon moon'>light_mode</i>
                        <i class='material-symbols-outlined icon sun'>dark_mode</i>
                    </div>
                    <span class="mode-text text">Light mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
</div>