<div class="sidebar-container close">
  <nav class="sidebar close">
    <header>
      <div class="d-flex image-text">
        <span class="d-flex-center image">
          <img src="../../../assets/img/logo-menu-platforma.png" alt="">
        </span>
        <div class="text d-flex-colum ">
          <span class="name">RYPE</span>
        </div>
      </div>
      <i class='material-symbols-outlined  d-flex-center toggle'>chevron_right</i>
    </header>

    <div class="d-flex-colum menu-bar">
      <div class="menu">

        <ul class="menu-links">
          <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined d-flex-center  icon'>home_app_logo</i>
              <span class="text nav-text">Home</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Dashboard</span>
                </div>
                <div class="sub-item d-flex" routerLink="feed">
                  <i class='material-symbols-outlined d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Feed</span>
                </div>

              </ul>
            </div>
          </li>
          <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined d-flex-center icon'>account_circle</i>
              <span class="text nav-text">Perfil</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div routerLink="/overview" *ngIf="this.isUser == true" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Overview</span>
                </div>
                <div routerLink="/profile" *ngIf="this.isUser == true" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Perfil</span>
                </div>
                <div routerLink="/social" *ngIf="this.isUser == true" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Media e Stream</span>
                </div>
                <div routerLink="/security" *ngIf="this.isUser == true" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Alterar senha</span>
                </div>

              </ul>
            </div>
          </li>

          <!-- <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined  d-flex-center icon'>event</i>
              <span class="text nav-text">Treinos</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Gerenciar</span>
                </div>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Resultados</span>
                </div>
              </ul>
            </div>
          </li> -->

          <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined  d-flex-center icon'>verified</i>
              <span class="text nav-text">Eventos</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Gerenciar</span>
                </div>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Resultados</span>
                </div>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Inscritos</span>
                </div>
              </ul>
            </div>
          </li>

          <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined  d-flex-center icon'>groups</i>
              <span class="text nav-text">Time</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div *ngIf="this.isUser == true" routerLink="team-overview" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Meu Clan</span>
                </div>
                <div  *ngIf="this.isAdminTeam$ | async" routerLink="team-settings" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Alterar dados</span>
                </div>
                <div  *ngIf="this.isAdminTeam$ | async" routerLink="team-search-user" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Buscar Jogadores</span>
                </div>
                <div *ngIf="this.isAdminTeam$ | async" routerLink="team-members" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Gerenciar Membros</span>
                </div>
                <div *ngIf="this.isAdminTeam$ | async" routerLink="team-admins" class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Gerenciar Adm,s</span>
                </div>

              </ul>
            </div>
          </li>

          <li class="nav-link d-flex-colum d-flex">
            <a class="d-flex">
              <i class='material-symbols-outlined  d-flex-center icon'>chat</i>
              <span class="text nav-text">Suporte</span>
            </a>
            <div class="sub-menu-container">
              <ul>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Meus Tickets</span>
                </div>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Criar Ticket</span>
                </div>
                <div class="sub-item d-flex">
                  <i class='material-symbols-outlined  d-flex-center icon'>subdirectory_arrow_right</i>
                  <span>Falar com Adm,s</span>
                </div>

              </ul>
            </div>
          </li>

        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a (click)="logaout()" class="d-flex">
            <i class='material-symbols-outlined  d-flex-center icon'>logout</i>
            <span class="text nav-text">Sair</span>
          </a>
        </li>

        <li class="mode d-flex">
          <div class="d-flex sun-moon">
            <i class='material-symbols-outlined d-flex-center  icon moon'>light_mode</i>
            <i class='material-symbols-outlined d-flex-center  icon sun'>dark_mode</i>
          </div>
          <span class="mode-text text">Light mode</span>

          <div class="d-flex-center toggle-switch">
            <span class="switch"></span>
          </div>
        </li>

      </div>
    </div>

  </nav>
</div>