<div class="d-flex-colum">
    <div class="d-flex-colum-center gap-10">
        <h2 class="title-h2">{{user}}</h2>
        <p class="text-p">Verificamos que voce não participa de nenhum time 🤔</p>
        <p class="text-p">Selecione uma opção abaixo.</p>
    </div>

    <div class="d-flex-colum-center gap-10 mt-50">
        <div routerLink="/team-create"><img class="img-team" src="./assets/img/teams/create.png"></div>
        <div routerLink="/team-search"><img class="img-team" src="./assets/img/teams/search-team.png"></div>
    </div>
</div>