/* ===== Sidebar ADMIN ===== */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  padding: 10px;
  background-color: var(--admin-body);
  height: 100%;
  transition: var(--tran-05);
}

.sidebar-container.close {
  height: 100vh;
  width: 110px;
  padding: 10px;

  transition: var(--tran-05);

  .nav-link.active {
    .sub-menu-container {
      display: none;
    }
  }

  .nav-link a i:hover {
    color: var(--pink-white);
  }

  .nav-link:hover .sub-menu-container {
    width: 115px;
    margin-top: 40px;
    padding: 5px;
    background: var(--sidebar-background);
    display: block;
    left: 4px;
    position: absolute;
    border-radius: 5px;
    color: var(--text-color);
    border-right: 3px solid var(--pink-white);
    transition: var(--tran-02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .sub-item {
      cursor: pointer;

      .icon {
        font-size: 20px;
        min-width: 20px;
      }

      .material-symbols-outlined.icon {
        font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 12;
        width: 20px;
      }

      div {
        margin: 5px 0 5px 0;
      }

      span {
        font-size: 12px;
        font-weight: 100;
      }
    }

    .sub-item:hover {
      background-color: var(--sidebar-mode-color);
    }
  }
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-background);
  transition: var(--tran-05);
  z-index: 100;
  border-radius: 15px;
}

.sidebar li {
  list-style: none;
  height: auto;
  padding: 15px 0 15px 0;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;

  font-size: 30px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--sidebar-text-color);
  transition: var(--tran-03);
  font-size: 25px;
}

.sidebar .text {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
  padding-top: 20px;
}

header .image-text .name {
  margin-top: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 100%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--pink-white);
  color: var(--white);
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

.container-admin.dark .sidebar header .toggle {
  color: var(--white);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  height: 100%;
  width: 100%;
  text-decoration: none;
  transition: var(--tran-03);
  cursor: pointer;
}

.sub-menu-container {
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: none;
  gap: 5px;
  transition: var(--tran-02);
}

.nav-link.active .sub-menu-container {
  display: block;
  padding: 10px 0 5px 0;
}

.nav-link.active .sub-menu-container ul .sub-item {
  justify-content: flex-start;
  flex-direction: row;
  padding: 5px 0 5px 0;
}

.nav-link.active .sub-menu-container ul .sub-item .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 100, "GRAD" 0, "opsz" 48;
}

.nav-link.active .sub-menu-container ul .sub-item i {
  color: var(--sidebar-text-color);
}

.nav-link.active .sub-menu-container ul .sub-item span {
  color: var(--sidebar-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.nav-link.active a:first-child::before {
  content: "";
  width: 7px;
  height: 35px;
  background-color: var(--pink-white);
  left: 0;
  position: absolute;
  box-shadow: inset 0 0 0.4em 0 var(--pink-white), 0 0 0.4em 0 var(--pink-white);
  transition: var(--tran-03);
}

.nav-link.active i,
.nav-link.active a span {
  color: var(--pink-white);
}

.sidebar .menu-bar {
  height: calc(100% - 10%);
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--sidebar-mode-color);
  position: relative;
  transition: var(--tran-05);
  margin-bottom: 15px;
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

.container-admin.dark .mode .sun-moon i.sun {
  opacity: 1;
}

.container-admin.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;

  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--pink-white);
  transition: var(--tran-04);
}

.container-admin.dark .switch::before {
  background-color: var(--background-mode);
  left: 20px;
}

.sidebar.close {
  height: 100%;
  width: 85px;
}

/* ===== Sidebar ADMIN FIM ===== */

.container-admin {
  background-color: var(--admin-body);
  height: auto;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: var(--tran-05);
}

.container-admin-content {
  margin-left: 290px;
  padding: 10px;
}

.container-admin-content.close {
  margin-left: 110px;
  display: block;
}

.container-admin-content.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

/* ===== NAVBAR ADMIN ===== */
.container-navbar {
  width: 100%;
  height: auto;
  background-color: var(--sidebar-background);
  border-radius: 10px;
  border-bottom: 3px solid var(--pink-white);
  box-shadow: inset hs1(0 0% 100%/ 0.3), 0 0 32px 0 var(--pink-white);
}

/* ===== CONTAINER CONTENT ADMIN FIM ===== */

.container-all {
  display: flex;
  padding: 20px;

  .container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

/* ===== CONTAINER CONTENT ADMIN  ===== */

/* ===== CONTAINER PAGES ADMIN  ===== */
.container-page {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== CONTAINER PAGES ADMIN  ===== */

/* ===== SEARCH TEAM ADMIN  ===== */

.search-bar {
  justify-content: space-between;
  width: 100%;

  .item-form {
    width: 80%;
  }

  .btn-search {
    width: 20%;
    height: 37px;
    border: 2px solid var(--pink-white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    padding: 5px;
    color: var(--white);
    background-color: var(--pink-white);
    margin: 10px 0 0 0;
  }

  .btn-search:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

.alert {
  p {
    color: var(--text-color);
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.container-search-teams {
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;

  .team-item {
    width: 300px;
    height: auto;

    border-radius: 10px;

    .image {
      position: relative;
      width: 67px;
      right: -15px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        z-index: 10 !important;
        top: -50px;
        left: -5px;
      }
    }

    .team-info {
      justify-content: center;
      padding: 9px 15px 13px 65px;
      width: 100%;
      height: 100%;
      background-color: var(--background-input);
      border-radius: 10px;
      color: var(--text-color);

      .nome-team h2 {
        font-size: 20px;
      }

      .sub-item-team {
        span {
          font-size: 12px;
          font-weight: 700;
        }

        .id-team {
          font-size: 10px;
        }

        p {
          font-size: 12px;
        }

        .img-country {
          img {
            width: 25px;
            height: 20px;
            border-radius: 2px;
          }
        }

        .ability {
          img {
            width: 35px;
            height: 35px;
          }
        }
      }

      div {
        width: 100%;

        button {
          width: 100%;
          height: 20px;
          border: 2px solid var(--pink-white);
          border-radius: 3px;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          text-transform: uppercase;
          color: var(--white);
          background-color: var(--pink-white);
          margin-top: 5px;
        }

      }
    }
  }
}

.margin {
  margin-top: 10px;
}

/* ===== SEARCH TEAMADMIN FIM  ===== */
/* ===== SEARCH USERS AND ADMIN TEAM  ===== */
.container-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description p {
    color: var(--text-color);
    font-size: 14px;
  }
}

.container-items-team {
  .container-items-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    span {
      color: var(--text-color);
      font-size: xx-large;
      font-weight: bold;
      display: inherit;
    }
  }

  .container-items {
    display: flex;
    gap: 10px;
    margin-top: 84px;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;

    .item {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(var(--linear-gradient)),
        linear-gradient(var(--linear-gradient-2));
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 20px;

      .imagem-item {
        justify-content: center;
        display: flex;
        height: 60px;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          top: -77px;
          position: relative;
          box-shadow: 0 8px 23px 7px rgb(0 0 0 / 50%);
          object-fit: cover;
          border-color: rgb(146, 170, 0) !important;
          border: solid;
          padding: 2px;
        }
      }

      .name-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .img-country {
          img {
            width: 25px;
            height: 20px;
            border-radius: 2px;
          }
        }

        .name-item {
          span {
            font-size: 16px;
            color: var(--text-color-background);
          }
        }
      }

      .infos-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 5px;

        img {
          width: 35px;
          height: 35px;
        }
      }
    }

    .item.admin {
      .imagem-item {
        img {
          border-color: rgb(0 247 255) !important;
        }
      }
    }

    .item.sub-admin {
      .imagem-item {
        img {
          border-color: rgb(218 78 157) !important;
        }
      }
    }
  }
}

/* ===== SEARCH USERS AND ADMIN TEAM  ===== */

/* ===== CONTAINER HUB  ===== */
.container-hub {
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.profile-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
  }
}



.profile-header-info.v2 {
  height: 112px;
  position: relative;

  .user-short-description {
    min-height: 164px;
    padding: 84px 0 0 164px;
    position: absolute;
    left: 32px;
    bottom: 0;

    .user-short-description-avatar {
      top: 0;
      left: 0;
      margin-left: 0;
      width: 148px;
      height: 164px;

      .user-avatar-border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .user-avatar-content {
        top: 14px;
        left: 12px;

        .hexagon-image-124-136 {
          width: 124px;
          height: 136px;
          position: relative;

          img {
            width: 124px;
            height: 136px;
            clip-path: url(#avatar-img-big);
            object-fit: fill;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  .profile-header-social-links-wrap {
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    top: 0;

    .user-stats {
      width: auto;
      height: 40px;
      display: flex;

      .user-stats-container {
        .user-stat {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: var(--text-color);
          font-size: .75rem;
          gap: 10px;

          p {
            font-size: 1.375rem;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--text-color);
            font-family: Rajdhani, sans-serif;
            line-height: 1em;
          }
        }
      }
    }

    .profile-header-social-links {
      width: 200px;
    }
  }
}




.container-cover-hub-account {
  min-height: 160px;
  padding: 52px 60px 0 200px;
  border-radius: 12px;
  background-image: url("./assets/img/account/hubaccount.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 4;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .title-cover-hub {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    font-family: Rajdhani, sans-serif;
  }

  .text-cover-hub {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.container-hub-content {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.header-content {
  width: 100%;

  .pre-title {
    color: #9aa4bf;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .title {
    margin-top: 8px;
    font-size: 1.625rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 16px;
  -ms-flex-align: start;
  align-items: start;
}

.grid-4-4-4 {
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, 384px);
  justify-content: center;
}

.grid-column {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 16px;
  min-width: 0;

  .grid-3-3-3 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    justify-content: center;
    grid-gap: 10px;
  }
}

.user-preview {
  width: 100%;
  height: auto;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);

  .user-preview-cover.big {
    height: 96px;
  }

  .user-preview-cover {
    width: 100%;
    height: 70px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .user-preview-info {
    padding: 0 28px 32px;
    position: relative;

    .tag-sticker {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 12px;
      background-color: #7750f8;
      box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -27px;
      right: 37px;
      color: var(--white);
    }

    .tag-sticker[title]:hover::after {
      content: attr(title);
      position: absolute;
      bottom: -37px;
      background-color: var(--background-mode);
      padding: 10px;
      border-radius: 12px;
      color: var(--text-color);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
  }
}

.user-preview.small {
  height: 140px;
}

.user-preview-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user-short-description-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin-top: 20px;
  gap: 10px;

  .description-country {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    justify-content: center;

    .country-details {
      align-items: center;
      display: flex;

      span {
        font-size: 25px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
      }
    }

    img {
      width: 44px;
      height: 28px;
      border-radius: 3px;
    }


  }

  .description-team {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    justify-content: center;

    .description-team-details {
      align-items: center;
      display: flex;

      span {
        font-size: 25px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      color: var(--text-color);
      font-family: Rajdhani, sans-serif;
    }

  }

  .user-social-links {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;

    .social-link-all {
      width: 35px;
      height: 35px;
    }
  }
}



.user-short-description-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
}

.user-short-description-text {
  font-size: .75rem;
  margin-top: 10px;
  color: #9aa4bf;
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
}

.user-short-description-avatar-small {

  position: sticky;
  width: 65px;
  height: 69px;
  justify-content: center;
  display: flex;
  align-items: center;


  .user-avatar-content-small {
    position: absolute;
    left: 10px;
    z-index: 3;

    .hexagon-image-50-55 {
      width: 50px;
      height: 55px;
      position: relative;

      img {
        width: 68px;
        height: 74px;
        clip-path: url(#avatar-img-small);

        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .user-avatar-progress-small {
    left: 5px;
    z-index: 1;
    position: absolute;

    .hexagon-progress-61-68 {

      width: 61px;
      height: 68px;
      position: relative;

      clip-path: url(#avatar-progress-back-small);
      -webkit-clip-path: url(#avatar-progress-back-small);

      svg {

        background-color: var(--pink-white);
      }

    }
  }


  .user-avatar-progress-border-small {
    left: 5px;
    position: absolute;

    .hexagon-progress-61-68 {
      width: 61px;
      height: 68px;
      position: relative;
      clip-path: url(#avatar-progress-small);
      -webkit-clip-path: url(#avatar-progress-small);

      svg {
        background-color: var(--text-color);
      }

    }
  }

}

.user-short-description-avatar-small.navbar {
  position: relative;

  .user-avatar-progress-border-small.navbar {
    left: 12px;
  }

  .user-avatar-progress-small.navbar {
    left: 12px;
  }

  .user-avatar-content-small.navbar {
    left: 17px;
  }
}


.user-short-description {
  padding-top: 62px;
  position: relative;
  font-size: 80%;
  font-weight: 400;

  .user-short-description-avatar.big {
    top: -116px;
    margin-left: -74px;

    .user-avatar-content {
      top: 27px;
      left: 24px;
    }

    .user-avatar-progress {
      top: 14px;
      left: 12px;
    }

    .user-avatar-progress-border {
      top: 15px;
      left: 12px;
    }
  }

  .user-short-description-avatar.not-progress {
    top: -70px;
    left: 48%;
    width: 120px;
    height: 130px;

    .user-avatar-content {
      top: 10px;
      left: 10px;
    }

  }

  .user-short-description-avatar.members {
    top: -70px;
    left: 48%;
    width: 120px;
    height: 130px;

    .user-avatar-content {
      top: 21px;
      left: 19px;
    }

    .user-avatar-progress {
      top: 11px;
      left: 10px;
    }

    .user-avatar-progress-border {
      top: 12px;
      left: 10px;
    }

  }

  .user-short-description-avatar {

    margin-left: -50px;
    position: absolute;
    top: -54px;
    left: 50%;
    display: block;
    width: 100px;
    height: 110px;

    .user-avatar-border {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .hexagon-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#avatar-border);
        -webkit-clip-path: url(#avatar-border) !important;

        svg {

          background-color: var(--background-mode);
        }
      }

      .hexagon-120-130 {
        width: 120px;
        height: 130px;
        position: relative;
        clip-path: url(#avatar-border-not-progress);
        -webkit-clip-path: url(#avatar-border-not-progress) !important;

        svg {

          background-color: var(--background-mode);
        }
      }

      .hexagon-148-164 {
        width: 148px;
        height: 164px;
        position: relative;
        clip-path: url(#avatar-border-big);
        -webkit-clip-path: url(#avatar-border-big) !important;

        svg {
          background-color: var(--background-mode);
        }
      }
    }

    .user-avatar-content {
      position: absolute;
      top: 18px;
      left: 16px;
      z-index: 3;

      .hexagon-image-82-90 {
        width: 82px;
        height: 90px;
        position: relative;

        img {
          width: 82px;
          height: 90px;
          clip-path: url(#avatar-82-90);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .hexagon-image-68-74 {
        width: 68px;
        height: 74px;
        position: relative;

        img {
          width: 68px;
          height: 74px;
          clip-path: url(#avatar-img);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;

        img {
          width: 100px;
          height: 110px;
          clip-path: url(#avatar-img-big);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .user-avatar-progress {
      z-index: 1;
      position: absolute;
      top: 10px;
      left: 8px;

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#progress-110);
        -webkit-clip-path: url(#progress-110) !important;
        svg {
        
          background-color: var(--text-color);
        }
      }

      .hexagon-progress-84-92 {
        width: 84px;
        height: 92px;
        position: relative;
        clip-path: url(#avatar-progress-back);
        -webkit-clip-path: url(#avatar-progress-back) !important;
        svg {
         
          background-color: var(--text-color);
        }
      }

      .hexagon-progress-124-136 {
        width: 124px;
        height: 136px;
        position: relative;
        clip-path: url(#avatar-progress-back-big);
        -webkit-clip-path: url(#avatar-progress-back-big) !important;

        svg {

          background-color: var(--text-color);
        }
      }
    }

    .user-avatar-progress-border {
      z-index: 1;
      position: absolute;
      top: 11px;
      left: 8px;

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#avatar-progress-front);
        -webkit-clip-path: url(#avatar-progress-front);

        svg {

          background-color: var(--pink-white);
        }
      }

      .hexagon-border-84-92 {
        width: 84px;
        height: 92px;
        position: relative;
        clip-path: url(#avatar-progress);
        -webkit-clip-path: url(#avatar-progress);

        svg {

          background-color: var(--pink-white);
        }
      }

      .hexagon-border-124-136 {
        width: 124px;
        height: 136px;
        position: relative;
        clip-path: url(#avatar-progress-front);
        -webkit-clip-path: url(#avatar-progress-front);

        svg {

          background-color: var(--pink-white);
        }
      }
    }
  }
}

.profile-header-info {
  height: 126px;
  padding-bottom: 20px;
  position: relative;
  background-color: var(--background-mode);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.profile-header-social-links-wrap {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -39px;

  .user-stats {
    width: 50%;
    height: 50px;

    .user-stats-container {
      width: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;

      p {
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 700;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
        line-height: 1em;
      }

      img {
        width: 24px;
        height: 16px;
        border-radius: 3px;
      }
    }
  }


  .profile-header-social-links {
    position: relative;
    z-index: 2;
    width: 420px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    justify-content: center;
    gap: 5px;
  }

  a[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -37px;
    background-color: var(--background-mode);
    padding: 10px;
    border-radius: 12px;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }

  .profile-header-info-actions {
    margin-right: 20px;

    .profile-header-info-action {
      .profile-header-info-action-button {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dd535d;
        color: white;
        cursor: pointer;
      }
    }
  }

}

.social-link-all {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;



  img {
    width: 15px;
    height: 15px;
    filter: brightness(100);
    -webkit-filter: brightness(100);

    
    cursor: pointer;
  }

}

.discord {
  background-color: #7289da;
}

.instagram {
  background-color: #f8468d;
}

.facebook {
  background-color: #3763d2;
}

.youtube {
  background-color: #fd434f;
}

.twitter {
  background-color: #1abcff;
}

.psn {
  background-color: #3486f5;
}

.xbox {
  background-color: #00e194;
}

.twitch {
  background-color: #7b5dfa;
}

.upload-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
  padding-top: 32px;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s ease-in-out,
    -webkit-transform 0.2s ease-in-out;

  .material-symbols-outlined {
    color: var(--text-color);
    font-size: 35px;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 48
  }

  .upload-box-title {
    margin-top: 26px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .upload-box-text {
    margin-top: 4px;
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 500;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.upload-box:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);

  .material-symbols-outlined {
    color: var(--pink-white);
  }
}

.widget-box {
  padding: 32px 28px;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);
  position: relative;

  .widget-box-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .widget-box-content {
    margin-top: 36px;
  }
}

.form {
  width: 100%;

  .form-row {
    width: 100%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 25px;

    .form-item {
      width: 100%;
      margin-right: 16px;
    }



    .form-input {
      position: relative;
      font-size: 80%;
      font-weight: 400;

      .form-two-options {
        display: grid;
        grid-template-columns: 2fr 50%;
        justify-content: center;
        grid-gap: 10px;

        .options-radio {
          margin-top: 20px;


          input[type="radio"] {
            width: 100%;
            height: 70px;
            appearance: none;
            cursor: pointer;

          }

          input[type="radio"]:checked {
            background-color: var(--pink-white);
          }

          span {
            position: relative;
            top: -49px;
            left: 20px;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-color);
          }
        }



      }

      .social-link {
        position: absolute;
        top: 4px;
        left: 4px;
        pointer-events: none;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 15px;
          height: 15px;
          filter: brightness(100);
          -webkit-filter: brightness(100);
        }
      }

      .discord {
        background-color: #7289da;
      }

      .instagram {
        background-color: #f8468d;
      }

      .facebook {
        background-color: #3763d2;
      }

      .youtube {
        background-color: #fd434f;
      }

      .twitter {
        background-color: #1abcff;
      }

      .psn {
        background-color: #3486f5;
      }

      .xbox {
        background-color: #00e194;
      }

      .twitch {
        background-color: #7b5dfa;
      }





    }



    .information {
      font-size: 0.8rem;
      margin-top: 5px;
      color: var(--text-color);
      margin-left: 10px;
    }

    .form-alert {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 0.8rem;
      color: var(--pink-white);
    }

    label {
      background-color: var(--background-mode);
      padding: 0 6px;
      font-size: 0.75rem;
      top: -6px;
      left: 12px;
      top: -6px;
      position: absolute;
      display: block;
      margin: 0;
      color: var(--text-color);
      font-weight: 600;
      z-index: 20 !important;
    }

    input {
      width: 100%;
      height: 48px;
      font-size: 1rem;
      padding: 0 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    textarea {
      width: 100%;
      height: 112px;
      font-size: 1rem;
      padding: 10px 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    select {
      width: 100%;
      height: 48px;
      font-size: 1rem;
      padding: 0 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    input:disabled {
      cursor: not-allowed;
      z-index: 1;
      border: 1px solid var(--pink);
      label {
        background-color: var(--background-mode);
        padding: 0 6px;
        font-size: 0.75rem;
        top: -6px;
        left: 12px;
        top: -6px;
        position: absolute;
        display: block;
        margin: 0;
        color: var(--text-color);
        font-weight: 600;
        z-index: 20 !important;
      }
    }
  }

  .social-input {
    label {
      left: 53px;
    }

    input {
      padding-left: 55px;
    }
  }
}


.button {
  width: 100%;
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  background-color: var(--pink);
  color: var(--white);
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow: 3px 5px 10px 0 rgba(255, 0, 106, 0.2);
}

.button.remove {
  background-color: transparent;
  border: 1px solid #3f485f;
  box-shadow: none;
}

.button.remove:hover {
  background-color: #fd4350;
  border-color: #fd4350;
  box-shadow: 4px 7px 12px 0 rgba(253, 67, 80, .2);
}

.button:hover {
  background-color: var(--pink-white);
}

/* ===== CONTAINER HUB FIM ===== */
@media (max-width: 1050px) {
  .profile-header-info {
    height: 200px;

    .profile-header-social-links-wrap {
      top: 25px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .user-stats {
        width: 50%;
        height: 50px;
        padding-top: 10px;
        justify-content: center;
        align-items: center;
        display: flex;

        .user-stats-container {
          padding-left: 0;
        }
      }

      .profile-header-social-links {
        width: 100%;

      }
    }

  }
}

@media (max-width: 900px) {

  .container-cover-hub-account {
    height: 86px;
    min-height: auto;
    padding: 18px 28px 0 108px;

    img {
      width: 92px;
      height: 86px;
    }

    .title-cover-hub {
      font-size: 1.5rem;
    }

    .text-cover-hub {
      margin-top: 6px;
      font-size: 0.75rem;
    }
  }

  .profile-header {
    img {
      height: 200px;
    }
  }


}

/* ===== NAVBAR ADMIN FIM ===== */
@media (max-width: 768px) {
  .sidebar-container {
    width: 100vw;
    height: 100vh;
    transition: var(--tran-05);
    z-index: 100;
    position: fixed;
  }

  .sidebar-container.close {
    width: 0;
    padding: 0;
    transition: var(--tran-05);
  }

  .sidebar {
    width: 95%;
    height: 95%;
  }

  .sidebar.close {
    width: 0;
    margin-left: -30px;
  }

  .sidebar.close {
    .nav-link.active {
      .sub-menu-container {
        display: none;
      }
    }
  }

  .sidebar.close header .image img {
    opacity: 0;
  }

  .sidebar header .toggle {
    position: absolute;
    top: 50vh;
    right: -45px;
    transform: translateY(-50%) rotate(180deg);
    height: 50px;
    width: 50px;
    background-color: var(--pink-white);
    color: var(--white);
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
  }

  .container-admin-content {
    display: none;
  }

  .container-admin-content.close {
    margin-left: 0px;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item-form {
      width: 100%;
    }

    .item-form div input {
      margin: 0;
    }

    .btn-search {
      width: 100%;
      margin: 0;
    }
  }

  .container-search-teams {
    .teams {
      width: 100%;
    }

    .team-item {
      width: 100%;
      height: 130px;
    }
  }

  .container-items {
    .item {
      margin-bottom: 30px;
    }
  }

  .form {
    .form-row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      .form-item {
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }

  .profile-header {
    img {
      height: 132px;
    }
  }

  .profile-header-info {
    height: 250px;

    .profile-header-social-links-wrap {
      top: 42px;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .profile-header-social-links {
        width: 200px;

      }
    }

  }

  .grid.grid-4-4-4 {
    grid-template-columns: 100%;
  }

  .profile-header-info.v2 {
    height: 168px;
    position: relative;

    .user-short-description {
      min-height: 164px;
      padding: 84px 0 0 164px;
      position: absolute;
      left: 32px;
      bottom: 90px;

      .user-short-description-avatar {
        top: 0;
        left: 0;
        margin-left: 0;
        width: 148px;
        height: 164px;

        .user-avatar-border {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        .user-avatar-content {
          top: 14px;
          left: 12px;

          .hexagon-image-124-136 {
            width: 124px;
            height: 136px;
            position: relative;

            img {
              width: 124px;
              height: 136px;
              clip-path: url(#avatar-img-big);
              object-fit: fill;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

    .profile-header-social-links-wrap {
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      align-items: center;
      top: 60px;

      .user-stats {
        width: auto;
        height: 40px;

        .user-stats-container {
          .user-stat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--text-color);
          }
        }
      }

      .profile-header-social-links {
        width: 200px;
      }
    }
  }
}