@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-white-color: #e4e9f7;
  --body-dark-color: #151521;

  --web-menubackground: #1e1e2d;
  --web-text-opacity: #737380;

  --purple-dark: #441057;
  --purple-white: #7b2f74;
  --pink: #c72e7c;
  --pink-white: #e62479;
  --coral: #fd2d5f;
  --white-palette: #e3e1e1;

  --white: #fff;
  --black: #000;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-dark-color);
}

.btn {
  width: 100%;
  height: 40px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  i {
    margin-right: 8px;
    color: var(--purple-white);
  }
}

.btn.primary {
  color: #fff;
  background-color: var(--web-menubackground);
  border: none;
}
.bt-background {
  width: 50%;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: var(--purple-white);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn.secundary {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--purple-white);
  color: var(--white);
  background: var(--web-menubackground);
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn.secundary:hover {
  background-color: var(--purple-white);
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-app {
  width: 100%;
  height: auto;
}

.container-all-apps {
  color: var(--white-palette);

  margin-top: 10px;
}

.link-primary {
  text-decoration: none;
  color: var(--pink);
  font-size: 14px;
  padding: 5px 0px;
  font-family: "Montserrat", sans-serif;
}

.box-alerts {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  .alert-success {
    background-color: mediumseagreen;
    width: 100%;
    height: auto;
    border: 2px solid rgb(40, 154, 91);
    padding: 10px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    // text-transform: uppercase;
    font-weight: bold;
  }

  .alert-danger {
    background-color: #fff5f8;
    border: 2px solid #f1416c;
    padding: 10px;
    border-radius: 5px;
    color: #151521;

    ul {
      list-style: none;
      margin-top: 5px;
    }
  }
}
.alerts {
  display: flex;
  padding: 5px 0px;
}

.container-auth {
  color: var(--white-palette);

  height: 100%;
  margin-top: 50px;
  .container {
    flex-direction: column;
  }
  .img-planet {
    padding: 20px;
    img {
      width: 100%;
      max-width: 200px;
      max-height: 200px;
      height: 100%;
    }
  }

  .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-width: 350px;
    height: auto;
    padding: 30px;
    // background-color: var(--purple-dark);
    border-radius: 5px;
    // border: 2px solid var(--purple-white);

    h1 {
      text-align: center;
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      color: var(--pink);
    }

    p {
      text-align: center;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      color: var(--white-palette);
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .item-form {
        width: 100%;
        margin-top: 20px;
      }

      input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        background-color: var(--body-dark-color);
        border: 2px solid var(--purple-white);
        color: var(--white-palette);
        padding: 5px;
      }
      input::-webkit-calendar-picker-indicator {
        color: #fff;
        background-color: var(--white-palette);
        border-radius: 5px;
      }

      .button-form {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        button {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
      .button-form button:disabled {
        opacity: 0.4;
        cursor: auto;
      }
      .button-form button:hover:disabled {
        opacity: 0.4;
        cursor: auto;
        background-color: var(--web-menubackground);
      }

      select {
        width: 100%;
        height: 50px;
        background-color: var(--body-dark-color);
        border: 2px solid var(--purple-white);
        color: var(--white-palette);
        border-radius: 5px;
      }
      .conteiner-gender {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .options-gender {
          display: flex;
          align-items: center;

          input {
            width: 20px;
            height: 20px;
            appearance: none;
            -webkit-appearance: none;
            border: 0.2rem solid #fff;
            background-color: var(--web-menubackground);
            border-radius: 50%;
          }
          input:checked {
            background-color: var(--pink);
          }

          label {
            margin-left: 5px;
          }

          .female {
            margin-left: 10px;
          }
        }
      }

      span {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        color: var(--white-palette);

        a {
          text-decoration: none;
          color: var(--pink);
        }
      }

      .container-terms {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin: 20px 0 0 0;

        input {
          width: 20px;
          height: 20px;
          appearance: none;
          -webkit-appearance: none;
          border: 0.2rem solid #fff;
          background-color: var(--web-menubackground);
          border-radius: 15%;
        }
        input:checked {
          background-color: var(--pink);
        }
        p {
          margin-left: 10px;
        }
      }
    }
  }
}
