/* ===== Sidebar ADMIN ===== */
.nav-bar-container {
  width: 300px;
  height: 100%;
  background-color: var(--sidebar-background);
  transition: var(--tran-05);
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.sidebar-container.close .nav-bar-container {
  width: 90px;
  align-items: center;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 20px;

  .navbar-user-name {
    color: var(--text-color);
    opacity: 1;
  }
}

.sidebar-container.close .nav-bar-container .navbar-user {
  display: block;
  width: 72px;

  .navbar-user-name {
    opacity: 0;
  }
}

.navbar-menu-sidebar {
  border: none;
  box-sizing: border-box;
  height: 100%;
  margin-top: 40px;

  nav {
    .menu-links {
      list-style: none;


    }

  }
}

.menu-link {
  margin-bottom: 10px;
  position: relative;

  a {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;

    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 200,
        'opsz' 48
    }

    i {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
    }

    span {
      font-size: .875rem;
      font-weight: 700;
      line-height: 48px;
      opacity: 1;
      visibility: visible;
      font-family: Rajdhani, sans-serif;
    }
  }
}

.menu-link:hover {

  a {
    background-color: var(--sidebar-hover);
    box-shadow: 3px 5px 20px 0 var(--admin-body);

  }

  i {
    color: var(--pink-white);
  }

  span {
    padding-left: 10px;
    transition: var(--tran-03);
  }
}

.menu-link.active {

  a {
    background-color: var(--pink-white);
    color: var(--white);

  }

  i {
    color: var(--white);
  }

  span {
    padding-left: 0;
    color: var(--white);
  }
}

.menu-link.active .sub-menu-container {
  margin-top: 5px;
  background-color: var(--sidebar-hover);
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: var(--tran-03);
  border-radius: 5px;
  box-shadow: 3px 5px 20px 0 var(--admin-body);

  ul {
    list-style: none;

    .sub-menu-item {
      cursor: pointer;
      padding: 10px;
      color: var(--text-color);
    }

    .sub-menu-item:hover {
      padding-left: 21px;
      transition: var(--tran-03);
    }

  }
}

.menu-link .sub-menu-container {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.sidebar-container.close .nav-bar-container .navbar-menu-sidebar {
  a {
    display: flex;
    justify-content: center;
    width: 80px;
    margin: auto;

    span {
      display: none;
    }
  }

  .menu-links .menu-link .sub-menu-container {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  .menu-links .menu-link:hover .sub-menu-container {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 60px;
    top: 0;
    background-color: var(--sidebar-hover);
    height: auto;
    width: auto;
    border-radius: 5px;
    z-index: 10;

    ul {
      height: auto;
      list-style: none;
      width: auto;

      .sub-menu-item {
        color: var(--text-color);
        padding: 10px;
        white-space: nowrap;
        transition: var(--tran-03);
        cursor: pointer;
      }
    }


  }

  .menu-links .menu-link.active:hover .sub-menu-container {
    visibility: visible;
    opacity: 1;
    position: absolute;
    left: 71px;
    top: 0;
    background-color: var(--sidebar-hover);
    height: auto;
    width: auto;
    border-radius: 5px;

    ul {
      height: auto;
      list-style: none;
      width: auto;

      .sub-menu-item {
        color: var(--text-color);
        padding: 10px;
        white-space: nowrap;
        transition: var(--tran-03);
        cursor: pointer;
      }
    }


  }
}

.nav-bar-container .navbar-actions {
  .bottom-content {
    .logout {
      height: 40px;
      display: flex;
      color: var(--white);
      gap: 20px;
      padding: 0px 15px;
      background-color: #dd535d;
      margin-bottom: 10px;
      align-items: center;
      border-radius: 6px;
      cursor: pointer;
      .text{
        opacity: 1;
        visibility: visible;
        transition: var(--tran-03);
      }
    }
  }

  .mode {
    border-radius: 6px;
    background-color: var(--admin-body);
    position: relative;
    transition: var(--tran-05);
    margin-bottom: 15px;
    list-style: none;
    height: auto;
    padding: 15px 10px;

  }
}

.sidebar-container.close .nav-bar-container .navbar-actions {
  width: 60px;

   .logout {
      
      .text{
        opacity: 0;
        visibility: hidden;
        transition: var(--tran-03);
      }
    }


  .mode {
    .mode-text {
      opacity: 0;
    }
  }
}

.mode .sun-moon {
  height: 50px;
  width: 60px;

  .icon {
    color: var(--sidebar-text-color);
    transition: var(--tran-03);
    font-size: 25px;
  }


}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i {
  color: var(--sidebar-text-color);
  transition: var(--tran-03);
  font-size: 25px;
}

.mode .mode-text {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  color: var(--sidebar-text-color);
  transition: var(--tran-03);
}

.mode .sun-moon i.sun {
  opacity: 0;
}

.container-admin.dark .mode .sun-moon i.sun {
  opacity: 1;
}

.container-admin.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.navbar-actions .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--pink-white);
  transition: var(--tran-04);
}

.container-admin.dark .switch::before {
  background-color: var(--background-mode);
  left: 20px;
}




/* ===== Sidebar ADMIN FIM ===== */

.container-admin {
  background-color: var(--admin-body);
  height: auto;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transition: var(--tran-05);
}

/* ===== CONTAINER CONTENT ADMIN FIM ===== */

.container-all {
  display: flex;
  top: 100px;
  position: inherit;
  padding: 5px;
  margin-left: 300px;
  margin-top: 80px;

  .container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.container-all.close {
  margin-top: 80px;
  margin-left: 90px;
  transition: var(--tran-03);
}

.sidebar-container {
  width: 300px;
  height: calc(100% - 80px);
  top: 80px;
  position: fixed;
  transition: var(--tran-03);

  .sidebar-container-mask {
    display: none;
  }
}

.sidebar-container.close {
  width: 90px;
  height: calc(100% - 80px);
  top: 80px;
  position: fixed;
  transition: var(--tran-03);
  z-index: 100;

}


@media (max-width: 650px) {
  .container-all {
    top: 70px;
    margin: 0px;

    .container-content {
      margin-top: 70px
    }
  }

  .container-all.close {
    margin: 0px;
  }

  .sidebar-container.close {
    opacity: 0;
    visibility: hidden;

    .sidebar-container-mask {
      opacity: 0;
      visibility: hidden;
    }
  }

  .sidebar-container {
    top: 0;
    height: 100%;
    z-index: 700;
    width: 100%;
    transition: var(--tran-03);

    .sidebar-container-mask {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 20;
      background-color: rgba(21, 21, 31, 0.96);
      opacity: 0.9;
      visibility: visible;
      display: block;

    }
  }


}



/* ===== CONTAINER CONTENT ADMIN  ===== */

/* ===== CONTAINER PAGES ADMIN  ===== */
.container-page {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== CONTAINER PAGES ADMIN  ===== */

/* ===== SEARCH TEAM ADMIN  ===== */

.search-bar {
  justify-content: space-between;
  width: 100%;

  .item-form {
    width: 80%;
  }

  .btn-search {
    width: 20%;
    height: 37px;
    border: 2px solid var(--pink-white);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    padding: 5px;
    color: var(--white);
    background-color: var(--pink-white);
    margin: 10px 0 0 0;
  }

  .btn-search:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

.alert {
  p {
    color: var(--text-color);
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.container-search-teams {
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;

  .team-item {
    width: 300px;
    height: auto;

    border-radius: 10px;

    .image {
      position: relative;
      width: 67px;
      right: -15px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        z-index: 10 !important;
        top: -50px;
        left: -5px;
      }
    }

    .team-info {
      justify-content: center;
      padding: 9px 15px 13px 65px;
      width: 100%;
      height: 100%;
      background-color: var(--background-input);
      border-radius: 10px;
      color: var(--text-color);

      .nome-team h2 {
        font-size: 20px;
      }

      .sub-item-team {
        span {
          font-size: 12px;
          font-weight: 700;
        }

        .id-team {
          font-size: 10px;
        }

        p {
          font-size: 12px;
        }

        .img-country {
          img {
            width: 25px;
            height: 20px;
            border-radius: 2px;
          }
        }

        .ability {
          img {
            width: 35px;
            height: 35px;
          }
        }
      }

      div {
        width: 100%;

        button {
          width: 100%;
          height: 20px;
          border: 2px solid var(--pink-white);
          border-radius: 3px;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          text-transform: uppercase;
          color: var(--white);
          background-color: var(--pink-white);
          margin-top: 5px;
        }

      }
    }
  }
}

.margin {
  margin-top: 10px;
}

.no-margin {
  margin: 0px !important;
}

/* ===== SEARCH TEAMADMIN FIM  ===== */
/* ===== SEARCH USERS AND ADMIN TEAM  ===== */
.container-description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description p {
    color: var(--text-color);
    font-size: 14px;
  }
}

.container-items-team {
  .container-items-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    span {
      color: var(--text-color);
      font-size: xx-large;
      font-weight: bold;
      display: inherit;
    }
  }

  .container-items {
    display: flex;
    gap: 10px;
    margin-top: 84px;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;

    .item {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(var(--linear-gradient)),
        linear-gradient(var(--linear-gradient-2));
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 20px;

      .imagem-item {
        justify-content: center;
        display: flex;
        height: 60px;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          top: -77px;
          position: relative;
          box-shadow: 0 8px 23px 7px rgb(0 0 0 / 50%);
          object-fit: cover;
          border-color: rgb(146, 170, 0) !important;
          border: solid;
          padding: 2px;
        }
      }

      .name-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .img-country {
          img {
            width: 25px;
            height: 20px;
            border-radius: 2px;
          }
        }

        .name-item {
          span {
            font-size: 16px;
            color: var(--text-color-background);
          }
        }
      }

      .infos-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 5px;

        img {
          width: 35px;
          height: 35px;
        }
      }
    }

    .item.admin {
      .imagem-item {
        img {
          border-color: rgb(0 247 255) !important;
        }
      }
    }

    .item.sub-admin {
      .imagem-item {
        img {
          border-color: rgb(218 78 157) !important;
        }
      }
    }
  }
}

/* ===== SEARCH USERS AND ADMIN TEAM  ===== */

/* ===== CONTAINER HUB  ===== */
.container-hub {
  max-width: 1184px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.profile-header {

  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);

  img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 300px;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
  }
}

.profile-header.v2 {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .profile-header-info {
    height: 112px;
    position: relative;

    .user-short-description.big {
      min-height: 164px;
      padding: 84px 0 0 164px;
      position: absolute;
      left: 32px;
      bottom: 0;

      .user-short-description-avatar {
        top: 0;
        left: 0;
        margin-left: 0;
        width: 148px;
        height: 164px;

        .user-avatar-border {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;

          .hexagon-148-164 {
            width: 148px;
            height: 164px;
            position: relative;
          }
        }

        .user-avatar-content {
          top: 14px;
          left: 12px;

          .hexagon-image-124-136 {
            width: 124px;
            height: 136px;
            position: relative;

            img {
              width: 124px;
              height: 136px;
              clip-path: url(#avatar-img-big);

              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }

      .user-short-description-title {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
        line-height: 1em;
      }

      .user-short-description-text {
        text-align: left;
        font-size: .75rem;
        margin-top: 10px;
        color: var(--text-color);
        font-size: .6875rem;
        font-weight: 700;
        text-transform: uppercase;
      }



    }

    .user-stats {
      left: auto;
      top: 38px;
      right: 164px;
      position: absolute;

      .user-stat.big {
        .user-stat-icon {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;

          span {
            color: var(--text-color);
            font-size: 20px;
          }
        }
      }
    }

    .profile-header-info-actions {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: 38px;
      right: 32px;

      .profile-header-info-action {
        width: 59px;
        height: 42px;
        background-color: #fd434f;
        margin-right: 16px;
        border-radius: 3px;
        padding: 5px;
        color: var(--white);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}











.container-cover-hub-account {
  min-height: 160px;
  padding: 52px 60px 0 200px;
  border-radius: 12px;
  background-image: url("./assets/img/account/hubaccount.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 4;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .title-cover-hub {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    font-family: Rajdhani, sans-serif;
  }

  .text-cover-hub {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.container-hub-content {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.header-content {
  width: 100%;

  .pre-title {
    color: #9aa4bf;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .title {
    margin-top: 8px;
    font-size: 1.625rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 16px;
  -ms-flex-align: start;
  align-items: start;
}

.grid-4-4-4 {
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, 384px);
  justify-content: center;
}

.grid-column {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 16px;
  min-width: 0;

  .grid-3-3-3 {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    justify-content: center;
    grid-gap: 10px;
  }
}

.user-preview {
  width: 100%;
  height: auto;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);

  .user-preview-cover.big {
    height: 96px;
  }

  .user-preview-cover {
    width: 100%;
    height: 70px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .user-preview-info {
    padding: 0 28px 32px;
    position: relative;

    .tag-sticker {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 12px;
      background-color: #7750f8;
      box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -27px;
      right: 37px;
      color: var(--white);
    }
    .tag-sticker.admin{
      background-color: var(--pink-white);
    }


    .tag-sticker[title]:hover::after {
      content: attr(title);
      cursor: pointer;
      position: absolute;
      bottom: -37px;
      background-color: var(--background-mode);
      padding: 10px;
      border-radius: 12px;
      color: var(--text-color);
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
  }
}

.user-preview.small {
  height: 140px;
}

.user-preview-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.user-short-description-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin-top: 20px;
  gap: 10px;

  .description-country {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    justify-content: center;

    .country-details {
      align-items: center;
      display: flex;

      span {
        font-size: 25px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
      }
    }

    img {
      width: 44px;
      height: 28px;
      border-radius: 3px;
    }


  }

  .description-team {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 100%;
    justify-content: center;

    .description-team-details {
      align-items: center;
      display: flex;

      span {
        font-size: 25px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      color: var(--text-color);
      font-family: Rajdhani, sans-serif;
    }

  }

  .user-social-links {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;

    .social-link-all {
      width: 35px;
      height: 35px;
    }
  }
}



.user-short-description-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
}

.user-short-description-text {
  font-size: .75rem;
  margin-top: 10px;
  color: #9aa4bf;
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
}

.user-short-description-avatar-small {

  position: sticky;
  width: 65px;
  height: 69px;
  justify-content: center;
  display: flex;
  align-items: center;
  visibility: visible;


  .user-avatar-content-small {
    position: absolute;
    left: 10px;
    z-index: 3;

    .hexagon-image-50-55 {
      width: 50px;
      height: 55px;
      position: relative;

      img {
        width: 68px;
        height: 74px;
        clip-path: url(#avatar-img-small);

        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .user-avatar-progress-small {
    left: 5px;
    z-index: 1;
    position: absolute;

    .hexagon-progress-61-68 {

      width: 61px;
      height: 68px;
      position: relative;

      clip-path: url(#avatar-progress-back-small);
      -webkit-clip-path: url(#avatar-progress-back-small);

      svg {

        background-color: var(--pink-white);
      }

    }
  }


  .user-avatar-progress-border-small {
    left: 5px;
    position: absolute;

    .hexagon-progress-61-68 {
      width: 61px;
      height: 68px;
      position: relative;
      clip-path: url(#avatar-progress-small);
      -webkit-clip-path: url(#avatar-progress-small);

      svg {
        background-color: var(--text-color);
      }

    }
  }

}




.user-short-description {
  padding-top: 62px;
  position: relative;
  font-size: 80%;
  font-weight: 400;

  .user-short-description-avatar.big {
    top: -116px;
    margin-left: -74px;

    .user-avatar-content {
      top: 27px;
      left: 24px;
    }

    .user-avatar-progress {
      top: 14px;
      left: 12px;
    }

    .user-avatar-progress-border {
      top: 15px;
      left: 12px;
    }
  }

  .user-short-description-avatar.not-progress {
    top: -70px;
    left: 48%;
    width: 120px;
    height: 130px;

    .user-avatar-content {
      top: 10px;
      left: 10px;
    }

  }

  .user-short-description-avatar.members {
    top: -70px;
    left: 48%;
    width: 120px;
    height: 130px;

    .user-avatar-content {
      top: 21px;
      left: 19px;
    }

    .user-avatar-progress {
      top: 11px;
      left: 10px;
    }

    .user-avatar-progress-border {
      top: 12px;
      left: 10px;
    }

  }

  .user-short-description-avatar {

    margin-left: -50px;
    position: absolute;
    top: -54px;
    left: 50%;
    display: block;
    width: 100px;
    height: 110px;

    .user-avatar-border {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      .hexagon-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#avatar-border);
        -webkit-clip-path: url(#avatar-border) !important;

        svg {

          background-color: var(--background-mode);
        }
      }

      .hexagon-120-130 {
        width: 120px;
        height: 130px;
        position: relative;
        clip-path: url(#avatar-border-not-progress);
        -webkit-clip-path: url(#avatar-border-not-progress) !important;

        svg {

          background-color: var(--background-mode);
        }
      }

      .hexagon-148-164 {
        width: 148px;
        height: 164px;
        position: relative;
        clip-path: url(#avatar-border-big);
        -webkit-clip-path: url(#avatar-border-big) !important;

        svg {
          background-color: var(--background-mode);
        }
      }
    }

    .user-avatar-content {
      position: absolute;
      top: 18px;
      left: 16px;
      z-index: 3;

      .hexagon-image-82-90 {
        width: 82px;
        height: 90px;
        position: relative;

        img {
          width: 82px;
          height: 90px;
          clip-path: url(#avatar-82-90);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .hexagon-image-68-74 {
        width: 68px;
        height: 74px;
        position: relative;

        img {
          width: 68px;
          height: 74px;
          clip-path: url(#avatar-img);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;

        img {
          width: 100px;
          height: 110px;
          clip-path: url(#avatar-img-big);
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .user-avatar-progress {
      z-index: 1;
      position: absolute;
      top: 10px;
      left: 8px;

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#progress-110);
        -webkit-clip-path: url(#progress-110) !important;

        svg {

          background-color: var(--text-color);
        }
      }

      .hexagon-progress-84-92 {
        width: 84px;
        height: 92px;
        position: relative;
        clip-path: url(#avatar-progress-back);
        -webkit-clip-path: url(#avatar-progress-back) !important;

        svg {

          background-color: var(--text-color);
        }
      }

      .hexagon-progress-124-136 {
        width: 124px;
        height: 136px;
        position: relative;
        clip-path: url(#avatar-progress-back-big);
        -webkit-clip-path: url(#avatar-progress-back-big) !important;

        svg {

          background-color: var(--text-color);
        }
      }
    }

    .user-avatar-progress-border {
      z-index: 1;
      position: absolute;
      top: 11px;
      left: 8px;

      .hexagon-image-100-110 {
        width: 100px;
        height: 110px;
        position: relative;
        clip-path: url(#avatar-progress-front);
        -webkit-clip-path: url(#avatar-progress-front);

        svg {

          background-color: var(--pink-white);
        }
      }

      .hexagon-border-84-92 {
        width: 84px;
        height: 92px;
        position: relative;
        clip-path: url(#avatar-progress);
        -webkit-clip-path: url(#avatar-progress);

        svg {

          background-color: var(--pink-white);
        }
      }

      .hexagon-border-124-136 {
        width: 124px;
        height: 136px;
        position: relative;
        clip-path: url(#avatar-progress-front);
        -webkit-clip-path: url(#avatar-progress-front);

        svg {

          background-color: var(--pink-white);
        }
      }
    }
  }
}

.profile-header-info {
  height: 126px;
  padding-bottom: 20px;
  position: relative;
  background-color: var(--background-mode);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.profile-header-social-links-wrap {
  width: 352px;
  height: 44px;
  margin: 0 auto;
  position: absolute;
  top: 54px;
  right: 50px;




  .profile-header-social-links {
    position: relative;
    z-index: 2;
    width: 420px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    justify-content: center;
    gap: 5px;
  }

  a[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -37px;
    background-color: var(--background-mode);
    padding: 10px;
    border-radius: 12px;
    color: var(--text-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  }

  .profile-header-info-actions {
    margin-right: 20px;

    .profile-header-info-action {
      .profile-header-info-action-button {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dd535d;
        color: white;
        cursor: pointer;
      }
    }
  }

}


.user-stats {
  position: absolute;
  top: 54px;
  left: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;

  .user-stat {
    position: relative;
  }


}


.user-stat.big {
  padding: 0 30px;

  .user-stat-title {
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .user-stat-flag {
    position: absolute;
    top: -5px;
    right: 11px;
    background-color: var(--pink-white);
    color: var(--white);
    border-radius: 3px;
    font-size: 10px;
    padding: 2px;
  }

  img {
    display: block;
    width: 30px;
    height: 22px;
    border-style: none;
    border-radius: 3px;
    margin: auto;
  }

  .user-stat-text {
    margin-top: 10px;
    font-size: .6875rem;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.user-stat.big::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: var(--text-color);
  position: absolute;
  top: 6px;
  right: 0;
}







.social-link-all {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;



  img {
    width: 15px;
    height: 15px;
    filter: brightness(100);
    -webkit-filter: brightness(100);


    cursor: pointer;
  }

}

.discord {
  background-color: #7289da;
}

.instagram {
  background-color: #f8468d;
}

.facebook {
  background-color: #3763d2;
}

.youtube {
  background-color: #fd434f;
}

.twitter {
  background-color: #1abcff;
}

.psn {
  background-color: #3486f5;
}

.xbox {
  background-color: #00e194;
}

.twitch {
  background-color: #7b5dfa;
}

.upload-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  height: 140px;
  padding-top: 32px;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.25s ease-in-out,
    -webkit-transform 0.2s ease-in-out;

  .material-symbols-outlined {
    color: var(--text-color);
    font-size: 35px;
    font-variation-settings:
      'FILL' 0,
      'wght' 200,
      'GRAD' 200,
      'opsz' 48
  }

  .upload-box-title {
    margin-top: 26px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .upload-box-text {
    margin-top: 4px;
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 500;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.upload-box:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);

  .material-symbols-outlined {
    color: var(--pink-white);
  }
}

.widget-box {
  padding: 32px 28px;
  border-radius: 12px;
  background-color: var(--background-mode);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);
  position: relative;

  .widget-box-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .widget-box-content {
    margin-top: 36px;
  }
}

.widget-box-settings {
  position: absolute;
  top: 22px;
  right: 19px;
  z-index: 90;

  .post-settings-wrap {
    position: relative;

    .post-settings {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 30px;
      cursor: pointer;

      span {
        color: var(--text-color);
      }
    }

    .simple-dropdown.active {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);

    }

    .simple-dropdown {
      position: absolute;
      z-index: 9999;
      top: 30px;
      right: 9px;
      opacity: 0;
      visibility: hidden;
      transform: translate(0px, -20px);
      transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
      width: 140px;
      padding: 10px 0;
      border-radius: 12px;
      background-color: var(--sidebar-hover);
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, .12);

      .simple-dropdown-link {
        padding: 8px 16px;
        font-size: .75rem;
        font-weight: 700;
        cursor: pointer;
        transition: color .2s ease-in-out, padding-left .2s ease-in-out;
        color: var(--text-color);
        font-family: Rajdhani, sans-serif;
        line-height: 1em;
      }

      .simple-dropdown-link:hover {
        padding-left: 20px;
        color: var(--pink-white);
      }
    }
  }
}

.widget-box.no-padding {
  padding: 0px;
}

.widget-box-status {
  padding-top: 24px;
  position: relative;
}

.content-actions {
  margin-top: 28px;
  border-top: 1px solid var(--text-color);
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 52px;

  .content-action {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


  }
}

.meta-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;

  .meta-line-link {
    font-size: .75rem;
    font-weight: 700;
    cursor: pointer;
    transition: color .2s ease-in-out;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .meta-line-text {
    font-size: .75rem;
    font-weight: 700;
    margin-left: 10px;
    color: var(--text-color);
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }

  .meta-line-list.reaction-item-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-direction: inherit;
    flex-direction: inherit;

    .reaction-item {
      margin-left: 0;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--sidebar-background);
      margin-left: -6px;

      .reaction-image {
        position: relative;
        width: 20px;
        height: 20px;
      }

      img {
        vertical-align: middle;
        border-style: none;
      }
    }
  }
}

.post-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 28px;
  border-top: 1px solid var(--text-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;



  .post-option-wrap {
    position: relative;



  }

  .post-option {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 44px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--text-color);
    transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span {
      margin-right: 16px;
      color: #616a82;
      opacity: .6;
      transition: fill .2s ease-in-out, opacity .2s ease-in-out;
    }

    .post-option-react {
      color: var(--text-color);
      font-size: .75rem;
      font-weight: 700;
      opacity: .6;
      transition: color .2s ease-in-out;
    }
  }

  .reaction-options.reaction-options-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }

  .reaction-options.reaction-options-dropdown {
    position: absolute;
    z-index: 9999;
    bottom: 54px;
    left: -16px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 20px);
    transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    padding: 0 16px;
    border-radius: 200px;
    background-color: var(--sidebar-hover);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .12);

    .reaction-option.text-tooltip-tft:hover {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);

      .xm-tooltip {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
      }
    }

    .reaction-option.text-tooltip-tft {
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      cursor: pointer;
      transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
      transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;

      .reaction-option-image {
        width: 100%;
        height: 100%;
      }

      .xm-tooltip {
        white-space: nowrap;
        position: absolute;
        z-index: 99999;
        top: -28px;
        left: 50%;
        margin-left: -22px;
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, 10px);
        transition: all 0.3s ease-in-out 0s;

        .xm-tooltip-text {
          padding: 0 12px;
          border-radius: 200px;
          background-color: #293249;
          color: #fff;
          font-size: .75rem;
          font-weight: 700;
          line-height: 24px;
        }
      }

      img {
        vertical-align: middle;
        border-style: none;
      }
    }
  }

  .post-option:hover {
    background-color: var(--sidebar-hover);
    box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.1);


    span {
      color: var(--pink-white);
      opacity: 0.9;
    }

    .post-option-react {
      color: var(--text-color);
      opacity: 0.9;
    }
  }
}


.widget-box-status-content {
  padding: 0 28px;
}

.gap-timeline {
  margin-bottom: 16px;
}

.user-status {
  font-family: Rajdhani, sans-serif;
  padding-right: 70px;
  min-height: 44px;
  padding: 2px 0 0 52px;
  position: relative;
}

.user-status-text {
  font-size: .75rem;
  font-weight: 500;
  color: var(--text-color);
}

.user-status-title-container {
  display: flex;
  flex-direction: row;
  gap: 5px;

  .user-status-title-name {
    color: var(--text-color);
    font-weight: 700;
    font-size: 1rem;
  }

  .user-status-title-action {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4285714286em;
    color: var(--text-color);
  }

}

.widget-box-status-text {
  margin-top: 20px;
  font-size: .875rem;
  line-height: 1.7142857143em;
  font-weight: 500;
  color: var(--text-color);
  font-family: Rajdhani, sans-seri
}

.user-status-avatar {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  .user-avatar-small {
    width: 40px;
    height: 44px;

    .user-avatar-content {
      .hexagon-image-31-35 {
        width: 31px;
        height: 35px;
        position: relative;

        img {
          width: 31px;
          height: 35px;
          clip-path: url(#avatar-img-post);
          object-fit: cover;
          position: absolute;
          top: 4px;
          left: 4px;
        }
      }
    }

    .user-avatar-progress {
      top: 0;
      left: 0;
      z-index: 3;
      position: absolute;

      .hexagon-border-front-40-44 {
        width: 40px;
        height: 44px;
        position: relative;
        clip-path: url(#avatar-progress-front-post);
        -webkit-clip-path: url(#avatar-progress-front-post);

        svg {
          background-color: var(--pink-white);
        }
      }
    }

    .user-avatar-progress-border {
      top: 0;
      left: 0;
      z-index: 2;
      position: absolute;

      .hexagon-border-40-44 {
        width: 40px;
        height: 44px;
        position: relative;
        clip-path: url(#avatar-progress-back-post);
        -webkit-clip-path: url(#avatar-progress-back-post);

        svg {
          background-color: var(--text-color);
        }
      }
    }
  }
}

.widget-box-status-content-video {
  width: 100%;
  height: 300px;
  margin-top: 20px;

  .video-teste {
    width: 100%;
    height: 300px;
    display: flex;

  }

}

.widget-box-status-content-imagem {
  width: 100%;
  height: 300px;
  margin-top: 20px;

  img {
    width: 100%;
    height: 300px;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.form {
  width: 100%;

  .form-row {
    width: 100%;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 25px;

    .form-item {
      width: 100%;
      margin-right: 16px;
    }



    .form-input {
      position: relative;
      font-size: 80%;
      font-weight: 400;

      input[type="date"] {}

      ::-webkit-calendar-picker-indicator {
        background-color: #ffffff;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
      }

      .form-two-options {
        display: grid;
        grid-template-columns: 2fr 50%;
        justify-content: center;
        grid-gap: 10px;

        .options-radio {
          margin-top: 20px;


          input[type="radio"] {
            width: 100%;
            height: 70px;
            appearance: none;
            cursor: pointer;

          }

          input[type="radio"]:checked {
            background-color: var(--pink-white);
          }

          span {
            position: relative;
            top: -49px;
            left: 20px;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-color);
          }
        }



      }

      .social-link {
        position: absolute;
        top: 4px;
        left: 4px;
        pointer-events: none;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 15px;
          height: 15px;
          filter: brightness(100);
          -webkit-filter: brightness(100);
        }
      }

      .discord {
        background-color: #7289da;
      }

      .instagram {
        background-color: #f8468d;
      }

      .facebook {
        background-color: #3763d2;
      }

      .youtube {
        background-color: #fd434f;
      }

      .twitter {
        background-color: #1abcff;
      }

      .psn {
        background-color: #3486f5;
      }

      .xbox {
        background-color: #00e194;
      }

      .twitch {
        background-color: #7b5dfa;
      }





    }



    .information {
      font-size: 0.8rem;
      margin-top: 5px;
      color: var(--text-color);
      margin-left: 10px;
    }

    .form-alert {
      margin-left: 10px;
      margin-top: 5px;
      font-size: 0.8rem;
      color: var(--pink-white);
    }

    label {
      background-color: var(--background-mode);
      padding: 0 6px;
      font-size: 0.75rem;
      top: -6px;
      left: 12px;
      top: -6px;
      position: absolute;
      display: block;
      margin: 0;
      color: var(--text-color);
      font-weight: 600;
      z-index: 20 !important;
    }

    input {
      width: 100%;
      height: 48px;
      font-size: 1rem;
      padding: 0 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    textarea {
      width: 100%;
      height: 112px;
      font-size: 1rem;
      padding: 10px 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    select {
      width: 100%;
      height: 48px;
      font-size: 1rem;
      padding: 0 18px;
      background-color: var(--background-mode);
      border: 1px solid var(--pink);
      color: var(--text-color);
      border-radius: 12px;
      font-weight: 700;
    }

    input:disabled {
      cursor: not-allowed;
      z-index: 1;
      border: 1px solid var(--pink);

      label {
        background-color: var(--background-mode);
        padding: 0 6px;
        font-size: 0.75rem;
        top: -6px;
        left: 12px;
        top: -6px;
        position: absolute;
        display: block;
        margin: 0;
        color: var(--text-color);
        font-weight: 600;
        z-index: 20 !important;
      }
    }
  }

  .social-input {
    label {
      left: 53px;
    }

    input {
      padding-left: 55px;
    }
  }
}


.button {
  width: 100%;
  display: inline-block;
  height: 48px;
  border-radius: 10px;
  background-color: var(--pink);
  color: var(--white);
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow: 3px 5px 10px 0 rgba(255, 0, 106, 0.2);
}

.button.remove {
  background-color: transparent;
  border: 1px solid #3f485f;
  box-shadow: none;
}

.button.remove:hover {
  background-color: #fd4350;
  border-color: #fd4350;
  box-shadow: 4px 7px 12px 0 rgba(253, 67, 80, .2);
}

.button:hover {
  background-color: var(--pink-white);
}

.grid-3-6-3 {
  grid-template-areas: "sidebar1 content sidebar2";
  grid-template-columns: 23.9864864865% 49.3243243243% 23.9864864865%;
  margin-top: 32px;

  .grid-column {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 16px;
    min-width: 0;
  }
}

.grid.grid-3-6-3>.grid-column:first-child {
  grid-area: sidebar1;
}

.quick-post {
  border-radius: 10px;
  background-color: var(--sidebar-background);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .06);
}

.quick-post-header {
  border-bottom: 1px solid #2f3749;
}

.quick-post-option {
  height: 65px;
  width: 100%;
  background-color: var(--sidebar-background);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 4px solid var(--pink-white);
}

.quick-post-title {
  display: flex;
  padding: 20px;
  color: var(--text-color);
  align-items: center;
  gap: 10px;

  p {
    font-size: 1rem;
    font-weight: 700;
    font-family: Rajdhani, sans-serif;
    line-height: 1em;
  }
}

.form-content-post {
  width: 100%;

  input {
    width: 100%;
    background-color: var(--sidebar-background);
    height: 40px;
    padding: 0px 28px;
    color: var(--text-color);
  }

  .container-imagem {
    width: 100%;
    height: 300px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .container-video {
    width: 100%;
    height: 300px;


  }
}


.video-teste {
  width: 100%;
  height: 300px;
  display: flex;

}


.form-content-text-area {
  width: 100%;
  background-color: var(--sidebar-mode-color);

  textarea {
    width: 100%;
    height: 120px;
    background-color: var(--sidebar-background);
    border-radius: 0;
    border: none;
    font-size: 0.875rem;
    padding: 26px 28px 0;
    resize: none;
    color: var(--text-color);
    transition: border-color 0.2s ease-in-out;
    font-family: Rajdhani, sans-serif;
    overflow: auto;
    ;
  }

  .form-textarea-limit-text {
    color: var(--text-color);
    padding-top: 10px;
    height: 40px;
    padding: 0 28px;
    font-size: .75rem;
    font-weight: 500;
    opacity: .6;
    text-align: right;
  }
}

.quick-post-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  min-height: 76px;
  padding: 0 28px;
  border-top: 1px solid #2f3749;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: var(--text-color);
}

.quick-post-footer-actions {
  display: flex;
  align-items: center;
  gap: 10px;

  .action {
    cursor: pointer;
  }

  .action.active-text {
    background-color: #0088ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    color: var(--white);
  }

  .action.active-img {
    background-color: #0eb400;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    color: var(--white);
  }

  .action.active-video {
    background-color: #fd434f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
    color: var(--white);
  }

  .cancel-post {
    color: var(--text-color);
    width: 80px;
    height: 40px;
    font-size: 0.75rem;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-background);
    box-shadow: none;
  }

  .cancel-post:hover {
    background-color: #dd535d;
    color: var(--white);
  }

  .create-post {
    width: 80px;
    height: 40px;
    font-size: 0.75rem;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }
}

.form-content-preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);

  span {
    font-size: 50px;
  }
}

.container-comments {
  display: flex;
  flex-direction: column;

  .comments-items-container {
    width: 100%;
    height: 400px;
    border-bottom: 2px solid var(--pink-white);
    overflow-y: auto;

    .comment-item {
      display: flex;
      padding: 19px 10px 0px 10px;
      margin-bottom: 5px;

      .comment-user {
        display: flex;
        width: 73px;
        height: 50px;
        position: relative;
      }

      .comment-content {
        width: 100%;


        .comment-author {
          display: flex;
          gap: 5px;

          .comment-name-title {
            color: var(--text-color);
            font-weight: 700;
            font-family: Rajdhani, sans-serif;
            line-height: 1em;

          }

          .comment-name-date {
            font-size: 0.8rem;
          }
        }

        .container-comment-message {
          margin-top: 5px;

          .comment-message {
            background-color: var(--admin-body);
            border-radius: 8px;
            padding: 10px 10px 10px 10px;
            font-size: 14px;
            width: -moz-fit-content;
            width: fit-content;
            display: flex;
            align-items: center;

            span {
              font-size: 15px;
              position: relative;
              margin-left: 5px;
              color: var(--pink-white);
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .comments-create-container {
    display: flex;
    align-items: center;

    .comment-user-container {
      display: flex;
      width: 70px;
      height: 70px;
      padding: 10px;

      .user-avatar-comment {
        position: relative;
      }
    }

    .form-comment-container {
      width: 100%;

      .form-comments {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;

        textarea {
          width: 85%;
          height: auto;
          min-height: 40px;
          border-radius: 10px;
          padding: 5px;
          background-color: var(--background-mode);
          color: var(--text-color);
        }

        button {
          color: var(--text-color);
          background-color: var(--sidebar-hover);
          margin-left: 16px;
          rotate: 332deg;
        }

        .comment-active {
          span {
            color: var(--pink-white);
            cursor: pointer;
            animation: tremer .2s;
            animation-iteration-count: 1;


            @keyframes tremer {
              0% {
                margin-left: 0;
              }

              25% {
                margin-left: 2px;
              }

              50% {
                margin-left: 5;
              }

              75% {
                margin-left: 7px;
              }

              100% {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

/* ===== CONTAINER HUB FIM ===== */
@media (max-width: 1050px) {
  .profile-header-info {
    height: auto;

    .profile-header-social-links-wrap {
      margin-top: 30px !important;
      width: 352px;
      height: 44px;
      margin: 0 auto;
      position: static;

      .profile-header-social-links {
        justify-content: flex-start;
      }
    }

    .user-stats {
      position: static;
      margin-top: 40px;
    }

  }

  .profile-header.v2 {
    .profile-header-info {
      padding-bottom: 32px;
      position: relative;
      height: auto;

      .user-short-description.big {
        min-height: auto;
        padding: 52px 0 0;
        position: static;

        .user-short-description-avatar {
          top: -116px;
          left: 50%;
          margin-left: -74px;
        }

        .user-short-description-title {
          text-align: center;
        }

        .user-short-description-text {
          text-align: center;
        }

      }

      .user-stats {
        margin-top: 40px;
        position: static;
      }

      .profile-header-info-actions {
        margin-top: 40px;
        position: static;
      }
    }
  }

  .grid-3-6-3 {
    margin-top: 32px;
    grid-template-columns: 100%;
    grid-template-areas:
      "content"
      "sidebar1"
      "sidebar2";
  }
}

@media (max-width: 900px) {

  .container-cover-hub-account {
    height: 86px;
    min-height: auto;
    padding: 18px 28px 0 108px;

    img {
      width: 92px;
      height: 86px;
    }

    .title-cover-hub {
      font-size: 1.5rem;
    }

    .text-cover-hub {
      margin-top: 6px;
      font-size: 0.75rem;
    }
  }

  .profile-header {
    img {
      height: 200px;
    }
  }


}