<section class="container-hub">

    <app-header-profile></app-header-profile>
    <div class="grid-column">

      
      <div class="widget-box">
        <p class="widget-box-title">Sobre o Seu Perfil</p>

        <div class="widget-box-content">
          <form (ngSubmit)="updateProfile()" class="form" [formGroup]="updateForm" #formDir="ngForm">
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Nome</label>
                  <input type="text" formControlName="name" placeholder="Nome" />
                  <div class="alert" *ngIf="name.invalid && formDir.submitted">
                    <p class="form-alert">Nome é obrigatório</p>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Sobre Nome</label>
                  <input type="text" formControlName="lastname" placeholder="Sobre Nome" />
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Nick Name</label>
                  <input type="text" formControlName="nickname" placeholder="Nick" />
                  <div class="alert" *ngIf="nickname.invalid && formDir.submitted">
                    <p class="form-alert">Nick é obrigatório</p>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Telefone</label>
                  <input type="tel" mask="(00) 00000-0000" formControlName="phone" placeholder="Celular" />
                  <div class="alert" *ngIf="phone.invalid && formDir.submitted">
                    <p class="form-alert">Celular é obrigatório</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label>Email </label>

                  <input type="text" formControlName="email" />
                  <p class="information">No momento não é possivel mudar o e-mail de cadastro.</p>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Data de nascimento</label>
                  <input class="datapicker" type="date" formControlName="birthday" placeholder="Data de Nascimento" />
                  <div class="alert" *ngIf="birthday.invalid && formDir.submitted">
                    <p class="form-alert">Data de Nascimento é obrigatório</p>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label>País</label>

                  <select name="country" id="country" formControlName="country" data-placeholder="Selecione seu País ">
                    <option value="">Selecione seu País ...</option>
                    <option value="brasil">Brasil</option>
                    <option value="méxico">México</option>
                    <option value="chile">Chile</option>
                    <option value="argentina">Argentina</option>
                  </select>

                </div>
              </div>

            </div>
            <!-- <div class="">
              <label>Como você se identifica ?</label>
              <div class="conteiner-gender-admin">
                <div class="options-gender">
                  <input id="male" type="radio" value="Male" formControlName="gender" />
    
                  <label class="">
                    <div class="">Homem</div>
                  </label>
                </div>
    
                <div class="options-gender ">
                  <input id="famale" type="radio" value="Female" formControlName="gender" />
    
                  <label>
                    <div class="">Mulher</div>
                  </label>
                </div>
    
    
              </div>
              <div class="alerts" *ngIf="gender.invalid && formDir.submitted">
                <p class="text-danger">Gênero é obrigatório</p>
              </div>
            </div> -->
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">IdRype</label>
                  <input type="text" formControlName="idRype" />
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Data de criação</label>
                  <input type="text" formControlName="createdAt" placeholder="Sobre Nome" />

                </div>
              </div>
            </div>
            <div class="">
              <button class="button" [disabled]="!updateForm.valid || (this.updateForm.touched == false)" type="submit">Atualizar
                Dados</button>
            </div>
          </form>
        </div>

      </div>
      <div class="widget-box">
        <p class="widget-box-title">Endereço</p>

        <div class="widget-box-content">
          <form (ngSubmit)="updateInfoAdress()" class="form" [formGroup]="updateFormAdress" #formDir="ngForm">
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Cidade</label>
                  <input type="text" formControlName="city" placeholder="Cidade" />
                 
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Bairro</label>
                  <input type="text" formControlName="district" placeholder="Bairro" />
                 
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Rua</label>
                  <input type="text" formControlName="street1" placeholder="Rua" />
                 
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Complemento</label>
                  <input type="text" formControlName="street2" placeholder="Complemento" />
                 
                </div>
              </div>

            </div>
            <div class="form-row">
              <div class="form-item">
                <div class="form-input">
                  <label for="">Número</label>
                  <input type="number" formControlName="number" placeholder="Número" />
                 
                </div>
              </div>
              <div class="form-item">
                <div class="form-input">
                  <label for="">Código postal</label>
                  <input type="text" mask="00000-000" formControlName="zipcode" placeholder="Código postal" />
                 
                </div>
              </div>

            </div>
            <div class="">
              <button class="button" [disabled]="!updateFormAdress.valid || (this.updateFormAdress.touched == false)" type="submit">Atualizar
                Dados</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</section>


<div *ngIf="loading$ | async">
  <app-loading></app-loading>
</div>
